openapi: 3.0.3
info:
  title: Nolgia API
  version: 0.1.0
  summary: Generative media platform (image, audio, video) — single contract for web, CLI, and MCP clients.
  description: |
    Nolgia API is the single backend serving the Nolgia website, Rust CLI, and MCP server.
    It orchestrates three generation paths:
      * **image** — synchronous (5–15s typical)
      * **audio** — long-poll synchronous (up to 900s)
      * **video** — asynchronous via job orchestrator
    All non-public endpoints require either an Auth.js bearer JWT (web) or a Personal Access Token (CLI/MCP).
  contact:
    name: Nolgia Engineering
    url: https://nolgia.ai
  license:
    name: Proprietary
    url: https://nolgia.ai/terms

servers:
  - url: https://api.nolgia.ai/v1
    description: Production
  - url: https://api.stg.nolgia.ai/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: Auth
    description: Sign-in flows for CLI/MCP (device code) and current-user info.
  - name: Generate
    description: Image, audio, and video generation endpoints.
  - name: Models
    description: Model catalog and per-model capabilities.
  - name: Jobs
    description: Async job lifecycle (used primarily for video).
  - name: Assets
    description: Generated media stored in GCS with signed URLs.
  - name: Billing
    description: Subscription state and Stripe Customer Portal.
  - name: PAT
    description: Personal Access Token issuance and revocation.
  - name: Health
    description: Service health probes.

security:
  - bearerAuth: []
  - patAuth: []

paths:

  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: Service is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '429':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /models:
    get:
      tags: [Models]
      operationId: listModels
      summary: List available models and their capabilities.
      responses:
        '200':
          description: Model catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /me:
    get:
      tags: [Auth]
      operationId: getCurrentUser
      summary: Get the currently authenticated user.
      responses:
        '200':
          description: Current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /auth/device:
    post:
      tags: [Auth]
      operationId: startDeviceAuth
      summary: Begin device-code OAuth flow (CLI/MCP).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthRequest'
      responses:
        '200':
          description: Device authorization started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /auth/device/token:
    post:
      tags: [Auth]
      operationId: pollDeviceAuth
      summary: Poll for device-code completion to exchange for an access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTokenRequest'
      responses:
        '200':
          description: Authorization granted; token returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTokenResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /generate/image:
    post:
      tags: [Generate]
      operationId: generateImage
      summary: Submit an image generation job (asynchronous).
      description: |
        Returns immediately with a queued job. Use `GET /jobs/{id}` or
        `GET /jobs/{id}/wait` to track completion, then `GET /assets?job_id={id}`
        to retrieve the produced asset(s).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateImageRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /generate/audio:
    post:
      tags: [Generate]
      operationId: generateAudio
      summary: Submit an audio generation job (asynchronous).
      description: |
        Returns immediately with a queued job. Use `GET /jobs/{id}` or
        `GET /jobs/{id}/wait` to track completion, then `GET /assets?job_id={id}`
        to retrieve the produced asset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAudioRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /generate/video:
    post:
      tags: [Generate]
      operationId: generateVideo
      summary: Submit a video generation job (asynchronous).
      description: |
        Returns immediately with a job. Default model is Kling v3.0 text-to-video.
        Use `GET /jobs/{id}` or `GET /jobs/{id}/wait` to retrieve the final asset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateVideoRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs:
    get:
      tags: [Jobs]
      operationId: listJobs
      summary: List jobs for the current user.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/JobStatus'
        - name: modality
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Modality'
      responses:
        '200':
          description: Paginated list of jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}:
    get:
      tags: [Jobs]
      operationId: getJob
      summary: Get a single job.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}/wait:
    get:
      tags: [Jobs]
      operationId: waitForJob
      summary: Block until the job reaches a terminal state (or timeout).
      description: Long-poll variant; server holds the connection up to `timeout_seconds` (max 900).
      parameters:
        - $ref: '#/components/parameters/JobId'
        - name: timeout_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 900
            default: 300
      responses:
        '200':
          description: Job reached a terminal state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '408':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}/sse-ticket:
    post:
      tags: [Jobs]
      operationId: createJobSSETicket
      summary: Mint a single-use ticket for the job status stream.
      description: >
        Returns a short-lived, single-use ticket that authorizes one
        `GET /jobs/{id}/sse` connection. Required because `EventSource`
        cannot send an `Authorization` header. The ticket is consumed on
        first use and expires after 60 seconds.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '201':
          description: Ticket issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSETicket'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}/sse:
    get:
      tags: [Jobs]
      operationId: streamJobSSE
      summary: Stream job status updates over Server-Sent Events.
      description: >
        Opens a `text/event-stream` connection that emits the current job
        state immediately, then a `status` event per update and a final
        `complete` event when the job reaches a terminal state. Authorized
        by a single-use `ticket` query parameter from `POST /jobs/{id}/sse-ticket`,
        not by the bearer schemes.
      security: []
      parameters:
        - $ref: '#/components/parameters/JobId'
        - name: ticket
          in: query
          required: true
          description: Single-use ticket from `POST /jobs/{id}/sse-ticket`.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Event stream opened.
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets:
    get:
      tags: [Assets]
      operationId: listAssets
      summary: List the current user's assets.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: modality
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Modality'
        - name: job_id
          in: query
          required: false
          description: Return only assets produced by the given job.
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of assets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Assets]
      operationId: uploadAsset
      summary: Upload a source image for image-to-image or image-to-video.
      description: Stores the supplied bytes and returns an asset whose signed_url can be passed as image_url to generation endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
      responses:
        '201':
          description: Asset stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '413':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/{id}:
    delete:
      tags: [Assets]
      operationId: deleteAsset
      summary: Delete one of the current user's assets.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Asset deleted.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /billing/subscription:
    get:
      tags: [Billing]
      operationId: getSubscription
      summary: Get the current user's subscription state.
      responses:
        '200':
          description: Subscription details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /billing/portal-link:
    post:
      tags: [Billing]
      operationId: createPortalLink
      summary: Create a Stripe Customer Portal session and return its URL.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortalLinkRequest'
      responses:
        '200':
          description: Portal URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalLinkResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /billing/credits:
    get:
      tags: [Billing]
      operationId: getCredits
      summary: Get the current user's credit wallet balances.
      responses:
        '200':
          description: Credit balances across launch wallet buckets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditBalance'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /billing/auto-refresh:
    get:
      tags: [Billing]
      operationId: getAutoRefresh
      summary: Get the current user's auto-refresh settings.
      responses:
        '200':
          description: Auto-refresh settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoRefreshSettings'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    put:
      tags: [Billing]
      operationId: putAutoRefresh
      summary: Update the current user's auto-refresh settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoRefreshSettingsRequest'
      responses:
        '200':
          description: Updated auto-refresh settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoRefreshSettings'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /pat:
    get:
      tags: [PAT]
      operationId: listPats
      summary: List the current user's Personal Access Tokens (no secrets).
      responses:
        '200':
          description: PAT list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatPage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [PAT]
      operationId: createPat
      summary: Create a Personal Access Token. The plaintext token is returned ONCE.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePatRequest'
      responses:
        '201':
          description: PAT created. `token` is returned once and never again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePatResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /pat/{id}:
    delete:
      tags: [PAT]
      operationId: revokePat
      summary: Revoke a Personal Access Token.
      parameters:
        - $ref: '#/components/parameters/PatId'
      responses:
        '204':
          description: PAT revoked.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth.js v5 JWT issued by nolgia.ai for browser sessions.
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
      description: Personal Access Token (prefix `nol_`) for CLI and MCP clients.

  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum items to return.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque pagination cursor returned by a prior response.
      schema:
        type: string
        minLength: 1
        maxLength: 256
    JobId:
      name: id
      in: path
      required: true
      description: Job UUID.
      schema:
        type: string
        format: uuid
    PatId:
      name: id
      in: path
      required: true
      description: PAT UUID.
      schema:
        type: string
        format: uuid

  responses:
    ProblemResponse:
      description: Error formatted per RFC 7807.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:

    HealthStatus:
      type: object
      additionalProperties: false
      required: [status, version]
      properties:
        status:
          type: string
          enum: [ok, degraded]
          examples: [ok]
        version:
          type: string
          description: Build version (semver or git sha).
          examples: ['0.1.0']
        uptime_seconds:
          type: integer
          minimum: 0
          examples: [1234]

    SSETicket:
      type: object
      additionalProperties: false
      required: [ticket, expires_at]
      description: Single-use credential authorizing one job status stream connection.
      properties:
        ticket:
          type: string
          description: Opaque single-use secret to pass as the `ticket` query parameter.
          examples: ['9f8c2a1e6b4d7f0a3c5e8b1d4f7a0c3e6b9d2f5a8c1e4b7d0f3a6c9e2b5d8f1a']
        expires_at:
          type: string
          format: date-time
          description: Instant after which the ticket can no longer be redeemed.

    Error:
      type: object
      additionalProperties: false
      required: [type, title, status]
      description: RFC 7807 problem object.
      properties:
        type:
          type: string
          format: uri
          description: A URI reference identifying the problem type.
          examples: ['https://nolgia.ai/errors/invalid-request']
        title:
          type: string
          examples: ['Invalid request']
        status:
          type: integer
          minimum: 400
          maximum: 599
          examples: [422]
        detail:
          type: string
          examples: ['`prompt` must be at least 1 character.']
        instance:
          type: string
          format: uri
          examples: ['https://api.nolgia.ai/v1/generate/image']
        request_id:
          type: string
          examples: ['req_01J5R2M9YBX2K4Z3WQH6P8VNA1']

    User:
      type: object
      additionalProperties: false
      required: [id, email, created_at]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
          examples: ['ada@nolgia.ai']
        name:
          type: string
          nullable: true
          examples: ['Ada Lovelace']
        image_url:
          type: string
          nullable: true
          format: uri
        created_at:
          type: string
          format: date-time

    Modality:
      type: string
      enum: [image, audio, video]

    ModelList:
      type: object
      additionalProperties: false
      required: [models]
      properties:
        models:
          type: array
          items:
            $ref: '#/components/schemas/Model'

    Model:
      type: object
      additionalProperties: false
      required: [id, modality, recommended]
      properties:
        id:
          type: string
          examples: ['veo-3.1']
        modality:
          $ref: '#/components/schemas/Modality'
        recommended:
          type: boolean
          description: Whether this model is surfaced as a priority/recommended option.
        cost:
          $ref: '#/components/schemas/ModelCost'
        video:
          $ref: '#/components/schemas/VideoCapabilities'
        audio:
          $ref: '#/components/schemas/AudioCapabilities'

    ModelCost:
      type: object
      additionalProperties: false
      description: |
        Credit pricing for a model. Absent when pricing has not been published
        for the model; clients must render an unknown/pending state instead of
        inventing a rate.
      required: [credits, unit]
      properties:
        credits:
          type: integer
          minimum: 1
          description: Credits charged per unit.
          examples: [42]
        unit:
          $ref: '#/components/schemas/ModelCostUnit'
        baseline_seconds:
          type: integer
          nullable: true
          minimum: 1
          description: |
            Present only when unit is per_clip. The clip duration in seconds that
            `credits` assumes. The actual charge scales with the requested duration
            as ceil(credits * duration_seconds / baseline_seconds).
          examples: [5]

    ModelCostUnit:
      type: string
      description: |
        Billing dimension for a model's credit cost. per_image multiplies by the
        requested image count, per_clip scales with video duration against
        baseline_seconds, per_generation is a flat charge per request.
      enum: [per_image, per_clip, per_generation]

    VideoCapabilities:
      type: object
      additionalProperties: false
      description: Per-model duration and aspect-ratio support for video models.
      properties:
        durations:
          type: array
          description: Discrete set of supported durations in seconds, when the model only allows specific values.
          items:
            type: integer
          examples: [[4, 6, 8]]
        min_duration:
          type: integer
          nullable: true
          description: Minimum supported duration in seconds, when durations form a continuous range.
        max_duration:
          type: integer
          nullable: true
          description: Maximum supported duration in seconds, when durations form a continuous range.
        aspect_ratios:
          type: array
          items:
            $ref: '#/components/schemas/AspectRatio'

    AudioCapabilities:
      type: object
      additionalProperties: false
      description: Per-model voice catalog for audio (text-to-speech) models.
      properties:
        voices:
          type: array
          description: Selectable voice identifiers for this model. Absent when the model has no enumerable voice catalog.
          items:
            $ref: '#/components/schemas/Voice'

    Voice:
      type: object
      additionalProperties: false
      required: [id]
      properties:
        id:
          type: string
          examples: ['af_bella']
        label:
          type: string
          nullable: true
          description: Human-friendly display name for the voice.
          examples: ['Bella (American female)']

    UploadAssetRequest:
      type: object
      additionalProperties: false
      required: [content_type, data]
      properties:
        content_type:
          type: string
          enum: [image/png, image/jpeg, image/webp]
          description: MIME type of the uploaded bytes.
        data:
          type: string
          format: byte
          minLength: 1
          maxLength: 14000000
          description: Base64-encoded file contents (max ~10MB decoded).
        filename:
          type: string
          nullable: true
          maxLength: 255

    ImageModel:
      type: string
      description: Image model identifier exposed by the public API.
      enum:
        - gpt-image-2
        - gpt-image-1
        - imagen-4
        - flux/schnell
        - flux-ultra
        - flux-pro
        - recraft-v3
        - ideogram-v3
        - stable-diffusion-3.5

    AudioModel:
      type: string
      description: Audio model identifier (TTS, music, or SFX).
      enum:
        - fal-ai/kokoro/american-english
        - fal-ai/dia-tts
        - fal-ai/inworld-tts
        - fal-ai/orpheus-tts
        - fal-ai/minimax/speech-2.8-hd
        - fal-ai/minimax/speech-2.8-turbo
        - fal-ai/elevenlabs/tts/eleven-v3
        - fal-ai/elevenlabs/tts/multilingual-v2
        - fal-ai/elevenlabs/tts/turbo-v2.5
        - fal-ai/elevenlabs/music
        - fal-ai/elevenlabs/sound-effects/v2
        - fal-ai/minimax-music/v2.6
        - fal-ai/lyria3/pro
        - fal-ai/stable-audio-25/text-to-audio
        - fal-ai/stable-audio-3/medium/text-to-audio
        - fal-ai/mmaudio-v2/text-to-audio

    VideoModel:
      type: string
      description: |
        Video model identifier. Priority models for v1 are Kling v3.0 and Seedance 2.0 Pro.
        Default is `fal-ai/kling-video/v3/text-to-video`.
      enum:
        - fal-ai/kling-video/v3/text-to-video
        - fal-ai/kling-video/v3/master/text-to-video
        - fal-ai/kling-video/v3/pro/text-to-video
        - fal-ai/kling-video/v3/image-to-video
        - fal-ai/kling-video/v3/master/image-to-video
        - fal-ai/kling-video/v3/pro/image-to-video
        - fal-ai/bytedance/seedance/v2/pro/text-to-video
        - fal-ai/bytedance/seedance/v2/pro/image-to-video
        - veo-3.1
        - veo-3.1-fast

    ImageSize:
      type: string
      enum: [square, square_hd, portrait_4_3, portrait_16_9, landscape_4_3, landscape_16_9]

    AspectRatio:
      type: string
      enum: ['16:9', '9:16', '1:1', '4:3', '3:4']

    GenerateImageRequest:
      type: object
      additionalProperties: false
      required: [model, prompt]
      properties:
        model:
          $ref: '#/components/schemas/ImageModel'
        prompt:
          type: string
          minLength: 1
          maxLength: 4000
          examples: ['A neon cyberpunk cat DJing on a rooftop, cinematic']
        negative_prompt:
          type: string
          nullable: true
          maxLength: 4000
        image_size:
          $ref: '#/components/schemas/ImageSize'
        num_images:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
        seed:
          type: integer
          nullable: true
          minimum: 0
        guidance_scale:
          type: number
          nullable: true
          minimum: 0
          maximum: 20
        image_url:
          type: string
          format: uri
          nullable: true
          maxLength: 2048
          description: Source image (https URL) for image-to-image restyle. When set, the model transforms this image instead of generating from scratch.

    GenerateImageResponse:
      type: object
      additionalProperties: false
      required: [request_id, asset, assets]
      properties:
        request_id:
          type: string
          examples: ['req_01J5R2M9YBX2K4Z3WQH6P8VNA1']
        asset:
          $ref: '#/components/schemas/Asset'
        assets:
          type: array
          description: All generated images. Length matches num_images. The first entry equals asset.
          items:
            $ref: '#/components/schemas/Asset'
        seed:
          type: integer
          nullable: true
    AudioFormat:
      type: string
      enum: [mp3, wav, ogg, flac]

    GenerateAudioRequest:
      type: object
      additionalProperties: false
      required: [model, prompt]
      properties:
        model:
          $ref: '#/components/schemas/AudioModel'
        prompt:
          type: string
          minLength: 1
          maxLength: 4000
          description: For TTS this is the text to speak; for music/SFX it is the description.
        voice:
          type: string
          nullable: true
          maxLength: 128
          description: TTS voice id (model-specific).
          examples: ['af_bella']
        duration_seconds:
          type: integer
          nullable: true
          minimum: 1
          maximum: 600
        format:
          $ref: '#/components/schemas/AudioFormat'

    GenerateAudioResponse:
      type: object
      additionalProperties: false
      required: [request_id, asset]
      properties:
        request_id:
          type: string
        asset:
          $ref: '#/components/schemas/Asset'
        duration_seconds:
          type: number
          nullable: true
          minimum: 0

    GenerateVideoRequest:
      type: object
      additionalProperties: false
      required: [model, prompt]
      properties:
        model:
          $ref: '#/components/schemas/VideoModel'
        prompt:
          type: string
          minLength: 1
          maxLength: 4000
        negative_prompt:
          type: string
          nullable: true
          maxLength: 4000
        image_url:
          type: string
          nullable: true
          format: uri
          description: Required for image-to-video models; ignored for text-to-video.
        aspect_ratio:
          $ref: '#/components/schemas/AspectRatio'
        duration_seconds:
          type: integer
          minimum: 1
          maximum: 60
          default: 5
        seed:
          type: integer
          nullable: true
          minimum: 0
        generate_audio:
          type: boolean
          nullable: true
          description: >-
            Ask the model to generate a synchronized audio track
            (dialogue/ambient/SFX). Model-dependent — supported by Seedance
            and Veo; ignored by models without native audio.
        shots:
          type: array
          nullable: true
          minItems: 1
          maxItems: 8
          description: >-
            Multi-shot sequence: divide the clip into sequential shots, each
            with its own prompt, duration, and optional sound direction. The
            server composes a structured multi-shot prompt (the top-level
            prompt becomes overall style/context direction) and derives the
            clip duration from the shot durations; if duration_seconds is
            also set it must equal their sum. Best on Seedance, which cuts
            between shots natively.
          items:
            $ref: '#/components/schemas/VideoShot'

    VideoShot:
      type: object
      additionalProperties: false
      required: [prompt, duration_seconds]
      properties:
        prompt:
          type: string
          minLength: 1
          maxLength: 2000
        duration_seconds:
          type: integer
          minimum: 1
          maximum: 15
        audio:
          type: string
          nullable: true
          maxLength: 500
          description: Sound-design direction for this shot (written into the composed prompt).

    JobStatus:
      type: string
      enum: [queued, running, succeeded, failed, canceled]

    Job:
      type: object
      additionalProperties: false
      required: [id, user_id, modality, model, status, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        modality:
          $ref: '#/components/schemas/Modality'
        model:
          type: string
          examples: ['fal-ai/kling-video/v3/text-to-video']
        status:
          $ref: '#/components/schemas/JobStatus'
        fal_request_id:
          type: string
          nullable: true
        asset:
          oneOf:
            - $ref: '#/components/schemas/Asset'
        error:
          oneOf:
            - $ref: '#/components/schemas/Error'
        progress:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        completed_at:
          type: string
          nullable: true
          format: date-time

    JobPage:
      type: object
      additionalProperties: false
      required: [items, total]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Job'
        next_cursor:
          type: string
          nullable: true
        total:
          type: integer
          description: Total number of jobs matching the status/modality filter, ignoring pagination.
    Asset:
      type: object
      additionalProperties: false
      required: [id, user_id, modality, model, signed_url, expires_at, created_at]
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        modality:
          $ref: '#/components/schemas/Modality'
        model:
          type: string
        prompt:
          type: string
          nullable: true
        signed_url:
          type: string
          format: uri
          description: Time-limited GCS signed URL for download.
          examples: ['https://storage.googleapis.com/nolgia-generations-prod/u/abc/img/xyz.png?X-Goog-Signature=...']
        expires_at:
          type: string
          format: date-time
          description: Expiry of `signed_url`.
        mime_type:
          type: string
          examples: ['image/png']
        size_bytes:
          type: integer
          nullable: true
          minimum: 0
        width:
          type: integer
          nullable: true
          minimum: 1
        height:
          type: integer
          nullable: true
          minimum: 1
        duration_seconds:
          type: number
          nullable: true
          minimum: 0
        created_at:
          type: string
          format: date-time

    AssetPage:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Asset'
        next_cursor:
          type: string
          nullable: true
    SubscriptionTier:
      type: string
      enum: [starter, pro, studio, studio_min, studio_mid, studio_max]

    SubscriptionStatus:
      type: string
      enum: [trialing, active, past_due, canceled, incomplete, incomplete_expired, unpaid, paused]

    Subscription:
      type: object
      additionalProperties: false
      required: [tier, status, current_period_end]
      properties:
        tier:
          $ref: '#/components/schemas/SubscriptionTier'
        status:
          $ref: '#/components/schemas/SubscriptionStatus'
        current_period_end:
          type: string
          format: date-time
        trial_end:
          type: string
          nullable: true
          format: date-time
        cancel_at_period_end:
          type: boolean
          default: false
        stripe_customer_id:
          type: string
          nullable: true
          examples: ['cus_PXYZabc123']
        stripe_subscription_id:
          type: string
          nullable: true
          examples: ['sub_1OABCDxyz']

    PortalLinkRequest:
      type: object
      additionalProperties: false
      properties:
        return_url:
          type: string
          nullable: true
          format: uri
          description: Where Stripe should redirect the user after closing the portal.
          examples: ['https://nolgia.ai/billing']

    PortalLinkResponse:
      type: object
      additionalProperties: false
      required: [url, expires_at]
      properties:
        url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time

    CreditWalletType:
      type: string
      description: Launch credit buckets. App uses subscription first, then shared top-up overflow; API uses shared top-up only.
      enum: [app_subscription, shared_topup]

    CreditBalanceBucket:
      type: object
      additionalProperties: false
      required: [wallet_id, type, balance]
      properties:
        wallet_id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/CreditWalletType'
        balance:
          type: integer
        expires_at:
          type: string
          nullable: true
          format: date-time

    CreditBalance:
      type: object
      additionalProperties: false
      required: [user_id, app_subscription, shared_topup, total, available_for_app, available_for_api, buckets]
      properties:
        user_id:
          type: string
          format: uuid
        app_subscription:
          type: integer
          description: Monthly app-only credits that expire at the subscription cycle end.
        shared_topup:
          type: integer
          description: Shared app/API prepaid credits that do not expire.
        total:
          type: integer
        available_for_app:
          type: integer
          description: App-visible credits; subscription bucket plus shared top-up overflow.
        available_for_api:
          type: integer
          description: API prepaid credits; shared top-up only at launch.
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/CreditBalanceBucket'

    AutoRefreshSettings:
      type: object
      additionalProperties: false
      required: [enabled, threshold_credits, purchase_credits]
      properties:
        enabled:
          type: boolean
          default: false
        threshold_credits:
          type: integer
          minimum: 0
          default: 0
        purchase_credits:
          type: integer
          minimum: 0
          default: 0
        stripe_payment_method_id:
          type: string
          nullable: true

    AutoRefreshSettingsRequest:
      type: object
      additionalProperties: false
      required: [enabled, threshold_credits, purchase_credits]
      properties:
        enabled:
          type: boolean
        threshold_credits:
          type: integer
          minimum: 0
        purchase_credits:
          type: integer
          minimum: 0
        stripe_payment_method_id:
          type: string
          nullable: true

    PAT:
      type: object
      additionalProperties: false
      required: [id, name, prefix, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 128
          examples: ['my-laptop-cli']
        prefix:
          type: string
          minLength: 4
          maxLength: 32
          description: First 8 chars of the plaintext token, for UI display.
          examples: ['nol_a1b2c3d4']
        created_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          nullable: true
          format: date-time
        revoked_at:
          type: string
          nullable: true
          format: date-time

    PatPage:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PAT'
        next_cursor:
          type: string
          nullable: true
    CreatePatRequest:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          examples: ['my-laptop-cli']
        expires_in_days:
          type: integer
          nullable: true
          minimum: 1
          maximum: 365

    CreatePatResponse:
      type: object
      additionalProperties: false
      required: [pat, token]
      properties:
        pat:
          $ref: '#/components/schemas/PAT'
        token:
          type: string
          description: Full plaintext token. Returned ONCE; store it securely.
          examples: ['nol_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6']

    DeviceAuthRequest:
      type: object
      additionalProperties: false
      required: [client_id]
      properties:
        client_id:
          type: string
          minLength: 1
          maxLength: 64
          examples: ['nolgia-cli']
        scope:
          type: string
          nullable: true
          maxLength: 256
          examples: ['generate:* assets:read']

    DeviceAuthResponse:
      type: object
      additionalProperties: false
      required: [device_code, user_code, verification_uri, expires_in, interval]
      properties:
        device_code:
          type: string
          minLength: 1
        user_code:
          type: string
          minLength: 1
          examples: ['BDWP-HQPK']
        verification_uri:
          type: string
          format: uri
          examples: ['https://nolgia.ai/device']
        verification_uri_complete:
          type: string
          nullable: true
          format: uri
        expires_in:
          type: integer
          minimum: 1
          examples: [900]
        interval:
          type: integer
          minimum: 1
          examples: [5]

    DeviceTokenRequest:
      type: object
      additionalProperties: false
      required: [device_code, client_id]
      properties:
        device_code:
          type: string
          minLength: 1
        client_id:
          type: string
          minLength: 1

    DeviceTokenResponse:
      type: object
      additionalProperties: false
      required: [access_token, token_type, expires_in]
      properties:
        access_token:
          type: string
          description: Personal Access Token (prefix `nol_`).
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
          minimum: 1
          examples: [2592000]
        scope:
          type: string
          nullable: true
