openapi: 3.0.3
info:
  title: Nolgia API
  version: 0.1.0
  summary: Generative media platform (image, audio, video) — single contract for web, CLI, and MCP clients.
  description: |
    Nolgia API is the single backend serving the Nolgia website, Rust CLI, and MCP server.
    It orchestrates three generation paths:
      * **image** — synchronous (5–15s typical)
      * **audio** — long-poll synchronous (up to 900s)
      * **video** — asynchronous via job orchestrator
    All non-public endpoints require either an Auth.js bearer JWT (web) or a Personal Access Token (CLI/MCP).
  contact:
    name: Nolgia Engineering
    url: https://nolgia.ai
  license:
    name: Proprietary
    url: https://nolgia.ai/terms
servers:
  - url: https://api.nolgia.ai/v1
    description: Production
  - url: https://api.stg.nolgia.ai/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development
tags:
  - name: Arena
    description: Public creative challenges; entries are the submitter's own finished Outputs shared through a public share link; community votes and admin moderation.
  - name: Auth
    description: Sign-in flows for CLI/MCP (device code) and current-user info.
  - name: Sets
    description: Coordinated image Outputs sharing one visual system.
  - name: Generate
    description: Image, audio, and video generation endpoints.
  - name: Models
    description: Model catalog and per-model capabilities.
  - name: Jobs
    description: Async job lifecycle (used primarily for video).
  - name: Assets
    description: Generated media stored in GCS with signed URLs.
  - name: Characters
    description: User-owned reusable subjects (name, description, reference images) for generation.
  - name: Locations
    description: User-owned reusable places (name, canonical description, reference images) for generation; the place-twin of a character.
  - name: Products
    description: User-owned products imported from a store link or built from your images; reused in every ad.
  - name: BrandKits
    description: Reusable brand palettes, fonts, logos and never-rules for generation.
  - name: Canvases
    description: Versioned node graph production plans for projects, shared by the web editor and NOLGIA Agent.
  - name: Styles
    description: "Saved styles: a reusable look, a prompt fragment plus reference images, applied with style_id."
  - name: EditSessions
    description: "Chained edit sessions: keep editing one image step by step, revert to any earlier step, estimate the cost of the chain."
  - name: TweakScopes
    description: Measured scopes for narrow image tweaks, including known-unavailable scopes and their evidence.
  - name: Projects
    description: User-owned groupings of assets; an asset can belong to multiple projects.
  - name: Collections
    description: |
      User-named Library collections: lightweight, user-curated groupings of
      assets for the Library navigator. Many-to-many — an asset can live in
      any number of collections — and membership is the only thing a
      collection owns: deleting a collection never deletes its assets.
      Collection names are unique per user (conflicts answer 409). Unlike
      projects, collections carry no compositions, agent context, or
      default-filing semantics.
  - name: Compositions
    description: |
      HyperFrames-style HTML video compositions: a bundle of files
      (index.html + compositions/*.html + assets/* + meta.json) authored by a
      user's NOLGIA Agent and rendered by the web UI as a scrubbable timeline.
      The API stores the files in GCS and serves them back via short-lived
      signed URLs; it never renders or executes composition content.

      Version series convention: compositions that are versions of the same
      work share a `meta.series` string and carry an integer `meta.version`.
      These are ordinary meta keys — the API stores them verbatim and never
      assigns or increments them; clients own the numbering. Create a new
      version with `POST /compositions/{id}/clone` (typically bumping
      `meta.version` via `meta_patch`) and list a series with
      `GET /compositions?series=...`.
  - name: Activity
    description: |
      Read-only chronological feed of platform events (generations, assets,
      compositions, renders), assembled at read time from the underlying
      resources — nothing extra is stored to serve it.
  - name: Billing
    description: Subscription state and Stripe Customer Portal.
  - name: PAT
    description: Personal Access Token issuance and revocation.
  - name: Organizations
    description: |
      Team and enterprise organizations: memberships and roles, invites,
      verified email domains, the audit trail and organization-scoped API
      keys. A user works either in their personal space or inside ONE active
      organization (`PUT /me/active-organization`); the context is server
      state and is resolved at authentication time, so every credential the
      user holds follows it.
  - name: Sharing
    description: Durable, revocable public share links for finished media (assets and renders) and the public resolver behind them.
  - name: Agent
    description: Per-customer NOLGIA Agent provisioning, usage, and chat relay.
  - name: Abilities
    description: Marketplace of admin-published ability packages that customers' NOLGIA Agents install and run.
  - name: Presets
    description: |
      Customer-facing, outcome-named workflow wrappers ("Social media ad", "Short film")
      that power the /presets page. Metadata only — no package content: a
      preset either deep-links into a creation endpoint (`create_image` /
      `create_video` / `create_audio` targets with `{prompt, model}` params) or
      hands off to the Studio agent lane (`studio_intent` with `{intent}`).
      A preset may reference the marketplace ability powering it via
      `ability_slug`. Admin-managed and mutable by slug (no versions);
      visibility-gated like abilities.
  - name: ColorPresets
    description: |
      Built-in color-grade presets ("LUT looks") for studio compositions.
      The catalog is embedded in the service (no database) and identical for
      every caller. Grades attach to compositions as `data-color-grade`
      attributes — per timed element, and on the canvas element for the whole
      frame — and as `colorGrade` fields in the `nolgia-edits.json` overlay;
      the render job bakes them into the exported MP4.
  - name: Motions
    description: |
      The camera-move library for video generation: a static, model-agnostic
      catalog of named camera moves (push-in, pull-back, orbit, crane, truck,
      tracking, zoom, dolly zoom, pan, tilt, rack focus, handheld, parallax,
      drone fly-through, locked off), each with a prompt fragment per
      strength (subtle / medium / strong). A `POST /generate/video` request
      names one by `motion_id` (+ `motion_strength`) and the server appends
      the move's fragment to the prompt; the prompt is never replaced.
      Embedded in the service, identical for every caller, no auth needed.
  - name: Masks
    description: |
      Per-clip timeline masks (Adobe Premiere's Opacity masks): a `rectangle`,
      `ellipse`, or `polygon` shape with `feather`, `expansion`, `opacity`, and
      `inverted` controls that hides part of one visual clip so the layers
      beneath show through. Masks attach to compositions as `data-mask`
      attributes on timed elements and as `mask` fields in the
      `nolgia-edits.json` overlay (`elements.<key>.mask`, `additions[].mask`,
      object-level replacement — `{}` clears); the Studio preview applies
      them live and the render job bakes them into the exported MP4. The
      sanitizer (`POST /masks:validate`) is public and stateless: it reports
      exactly what the renderer will draw.
  - name: Motion
    description: |
      Per-clip timeline motion (Adobe Premiere's Motion effect): `x`/`y`
      position of the clip's anchor as % of the canvas, `scale` (uniform,
      1 = fit-to-frame) with optional per-axis `scaleX`/`scaleY`
      multipliers, `rotation` in degrees clockwise, `opacity` 0..100, and the
      `anchor` point as % of the clip box. Since phase 2 every one of those
      properties except `anchor` is a CONSTANT or a KEYFRAME LIST
      (`[{t, v, ease}, ...]`, `t` seconds from the clip start, `ease` one of
      `linear | ease-in | ease-out | ease-in-out | hold`; see the
      `MotionKeyframe` schema): the Studio preview samples it every frame and
      the render job samples it at the export frame rate, both with the same
      curves, so the export matches the editor. Motion lives in the
      `nolgia-edits.json` overlay only (`elements.<key>.motion`,
      `additions[].motion`, object-level replacement: `{}` clears back to the
      default fit-to-frame centered placement; there is no authored
      `data-motion` attribute yet); the render job bakes it into the exported
      MP4, with the clip's mask riding inside the transform. Text clips are
      placed by their `textStyle` (x/y/rotation/opacity) instead; a `motion`
      on a text clip is ignored with a warning. The sanitizer
      (`POST /motion:validate`) is public and stateless: it reports exactly
      what the renderer will apply, keyframe lists included.
  - name: Health
    description: Service health probes.
security:
  - bearerAuth: []
  - patAuth: []
paths:
  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: Service is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '429':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /models:
    get:
      tags: [Models]
      operationId: listModels
      summary: List available models and their capabilities.
      responses:
        '200':
          description: Model catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /motions:
    get:
      tags: [Motions]
      operationId: listMotions
      summary: List the camera-move library for video generation. Public, embedded, identical for every caller.
      description: |
        The named camera moves a video request may pick with `motion_id` +
        `motion_strength` on `POST /generate/video` (and tell the prompt
        rewrite about on `POST /generate/video/enhance-prompt`). Each entry
        carries its display `name`, a one-line `description` of what the
        move does on screen, its `category`, the `default_strength`, and one
        `prompt_fragment` per strength: the exact text the server appends to
        the prompt, so a client can preview the composed prompt without a
        round trip. `preview_url` is reserved for an example clip per move
        and is `null` on every entry today.
      security:
        - {}
        - bearerAuth: []
        - patAuth: []
      responses:
        '200':
          description: The camera-move library, in display order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraMoveList'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /pricing/models:
    get:
      tags: [Models]
      operationId: listModelPricing
      summary: Public per-model credit prices (no authentication).
      description: |
        The published price list, readable without a token, so a pricing page
        can print what a generation costs from the same source of truth the
        API bills from. Per model: the catalog `id` a request sends, its
        `modality`, the plan floor (`min_tier`), the credit `cost` with its
        billing `unit`, the per-quality-tier credit costs (`quality.options`)
        and the `aspect_ratios` it renders.

        This is a strict projection of the pricing half of `GET /models` —
        identical numbers, same registry, same
        deployed-proxy capability filter — with everything else dropped. It
        carries NO per-user data (no balance, entitlement, or history), no
        provider cost, and no internal routing name, so the response is byte
        identical for every caller and safe to cache and to serve from a
        marketing page.

        Read `GET /models` instead when you hold a credential and need the
        full capability surface (durations, references, voices, seeds).
        Rate limited per client IP (`429`).
      security: []
      responses:
        '200':
          description: The public model price list.
          headers:
            Cache-Control:
              description: '`public, max-age=300` — the list only changes with a deploy or a proxy capability change.'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelPricingList'
        '429':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /providers/status:
    get:
      tags: [Models]
      operationId: listProviderStatus
      summary: List generation provider availability.
      description: >-
        Reports each video generation provider's current availability as seen by the platform's hard-down detector: "degraded" while ~all recent submissions to the provider are failing server-side (jobs targeting it are parked and resume automatically on recovery), otherwise "operational". Clients use this to explain a "provider_down" job status instead of showing a generic failure.
      responses:
        '200':
          description: Provider availability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderStatusList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /me:
    get:
      tags: [Auth]
      operationId: getCurrentUser
      summary: Get the currently authenticated user.
      responses:
        '200':
          description: Current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /me/settings:
    get:
      tags: [Auth]
      operationId: getUserSettings
      summary: Get the current user's notification settings.
      responses:
        '200':
          description: Notification settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    put:
      tags: [Auth]
      operationId: putUserSettings
      summary: Update the current user's notification settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettingsRequest'
      responses:
        '200':
          description: Updated notification settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /me/active-organization:
    put:
      tags: [Organizations]
      operationId: putActiveOrganization
      summary: Switch the current user between their personal space and one of their organizations.
      description: >
        Sets `users.active_organization_id`. This is SERVER state, so the web app, CLI, MCP and the user's agent credentials all follow it on their next request. `organization_id: null` returns to the personal space. The user must be a member of the organization (`404` otherwise). Answers the refreshed `User`, including `active_organization`. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveOrganizationRequest'
      responses:
        '200':
          description: Updated current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /me/deletion:
    get:
      tags: [Auth]
      operationId: getAccountDeletionPreflight
      summary: Preview what deleting the current account will do.
      description: >
        Browser (JWT) sessions only; PATs are rejected. Lists the organizations that block the deletion (ones the caller owns that still have other members: transfer ownership or delete the organization first), the organizations that will be deleted with the account (owned, no other members), the organizations the caller will leave, and the grace period before the purge starts.

      responses:
        '200':
          description: What a deletion requested now would do.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeletionPreflight'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Auth]
      operationId: requestAccountDeletion
      summary: Delete the current account.
      description: >
        Browser (JWT) sessions only; PATs are rejected, so a leaked token can never delete an account. `confirmation` must equal the account's email address (case-insensitive). On success the account is locked at once: every session, personal access token, API key and OAuth grant stops working, share links are revoked, Arena entries are withdrawn, paid subscriptions are cancelled at Stripe (immediately, without proration), and the NOLGIA Agent is stopped. The purge that deletes the account's content and anonymizes its billing records starts when `purge_after` passes (the grace period, 7 days) and normally finishes within the hour. `409` when the caller owns an organization that still has other members.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDeletionRequest'
      responses:
        '202':
          description: Deletion scheduled; the account is locked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeletion'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations:
    get:
      tags: [Organizations]
      operationId: listOrganizations
      summary: List the organizations the current user belongs to, with their role in each.
      responses:
        '200':
          description: Memberships, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: createOrganization
      summary: Create a team organization owned by the current user.
      description: >
        Creates a `kind: team` organization with the caller as `owner`, makes it the caller's active organization and creates its default Library project. `slug` is derived from `name` when omitted. A taken slug answers `409`. Team billing (seats, Stripe) is attached afterwards through the web app; until then the organization has no subscription and is quota'd like a free account. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '201':
          description: Organization created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: getOrganization
      summary: Get one organization the current user belongs to.
      responses:
        '200':
          description: The organization and the caller's role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Organizations]
      operationId: updateOrganization
      summary: Update an organization's name or settings (owner or admin).
      description: >
        Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
      responses:
        '200':
          description: Updated organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Organizations]
      operationId: deleteOrganization
      summary: Soft-delete an organization (owner only).
      description: >
        Marks the organization deleted and returns every member to their personal space. Library rows keep their `organization_id` for the retention window; nothing is hard-deleted here. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      responses:
        '204':
          description: Organization deleted.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/members:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationMembers
      summary: List an organization's members (any member may read).
      responses:
        '200':
          description: Members, owner first then by join time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/members/{user_id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationMemberUserId'
    patch:
      tags: [Organizations]
      operationId: updateOrganizationMember
      summary: Change a member's role or monthly credit budget (owner or admin).
      description: >
        `role` cannot be set to `owner` here (use transfer-ownership) and the current owner cannot be demoted. `monthly_credit_budget: null` removes the cap; omitting it leaves it unchanged. Promoting a viewer to a seat-consuming role is checked against `seat_limit` (`409`). Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationMemberRequest'
      responses:
        '200':
          description: Updated member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Organizations]
      operationId: removeOrganizationMember
      summary: Remove a member (owner or admin), or leave the organization (self).
      description: >
        The owner cannot be removed and cannot leave without first transferring ownership (`409`). A removed member whose active organization this was is returned to their personal space; their organization-scoped API keys stop authenticating immediately. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      responses:
        '204':
          description: Member removed.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/transfer-ownership:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    post:
      tags: [Organizations]
      operationId: transferOrganizationOwnership
      summary: Transfer ownership to another member (owner only).
      description: >
        The new owner must already be a member. The previous owner becomes `admin`. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
      responses:
        '200':
          description: Organization with the new owner.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/invites:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationInvites
      summary: List pending invites (owner or admin).
      responses:
        '200':
          description: Pending invites, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInviteList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: createOrganizationInvite
      summary: Invite an email address to the organization (owner or admin).
      description: >
        Creates a 7-day invite and emails the link when mail is configured (best effort). The plaintext `token` and `invite_url` are ALSO returned once here so the UI can offer a copy link; they are never readable again. When `seat_limit` is set, seat-consuming members plus pending seat-consuming invites must stay below it (`409` with title `Seat limit reached`); `viewer` invites never count. One pending invite per address (`409`). Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationInviteRequest'
      responses:
        '201':
          description: Invite created; `token` is returned once and never again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationInviteResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/invites/{invite_id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationInviteId'
    delete:
      tags: [Organizations]
      operationId: revokeOrganizationInvite
      summary: Revoke a pending invite (owner or admin).
      description: >
        Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      responses:
        '204':
          description: Invite revoked.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/invites/{invite_id}/resend:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationInviteId'
    post:
      tags: [Organizations]
      operationId: resendOrganizationInvite
      summary: Rotate a pending invite's token, extend its expiry and re-send the email (owner or admin).
      description: >
        Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      responses:
        '200':
          description: Invite with a fresh `token`, returned once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationInviteResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /invites/{token}:
    parameters:
      - $ref: '#/components/parameters/InviteToken'
    get:
      tags: [Organizations]
      operationId: getInvitePreview
      summary: Public preview of an invite (no authentication).
      description: >
        Shows enough for the accept page to render before sign-in: the organization name, who invited, the masked invitee address, the role and the expiry. `status` says whether the invite can still be accepted. Unknown tokens answer `404`.

      security: []
      responses:
        '200':
          description: Invite preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitePreview'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /invites/{token}/accept:
    parameters:
      - $ref: '#/components/parameters/InviteToken'
    post:
      tags: [Organizations]
      operationId: acceptInvite
      summary: Accept an invite as the signed-in user.
      description: >
        The signed-in account's email must match the invited address (case-insensitive; `403` otherwise). Creates the membership with the invited role, and makes the organization active when the user has no active organization yet. Expired, revoked or already-accepted invites answer `410`. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      responses:
        '200':
          description: The new membership.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '410':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/domains:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationDomains
      summary: List the organization's claimed email domains (owner or admin).
      responses:
        '200':
          description: Domains, oldest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomainList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: addOrganizationDomain
      summary: Claim an email domain (owner or admin); returns the DNS TXT record to publish.
      description: >
        Publish a TXT record named `_nolgia.<domain>` with the value `nolgia-verification=<verification_token>`, then call `verify`. A domain already VERIFIED by another organization answers `409`. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrganizationDomainRequest'
      responses:
        '201':
          description: Domain claimed (unverified).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/domains/{domain}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationDomainName'
    patch:
      tags: [Organizations]
      operationId: updateOrganizationDomain
      summary: Toggle auto-join or SSO enforcement on a domain (owner or admin).
      description: >
        `sso_enforced` requires a verified domain on an `enterprise` organization (`402` with title `Upgrade Required` on a team organization; `409` while unverified). Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationDomainRequest'
      responses:
        '200':
          description: Updated domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Organizations]
      operationId: deleteOrganizationDomain
      summary: Remove a claimed domain (owner or admin).
      description: >
        Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      responses:
        '204':
          description: Domain removed.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/domains/{domain}/verify:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationDomainName'
    post:
      tags: [Organizations]
      operationId: verifyOrganizationDomain
      summary: Check DNS for the verification TXT record and mark the domain verified (owner or admin).
      description: >
        Looks up TXT `_nolgia.<domain>` for `nolgia-verification=<token>`. A missing or mismatched record answers `409` with the record still to publish; a domain verified by another organization in the meantime answers `409` as well. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      responses:
        '200':
          description: Domain verified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/audit-events:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationAuditEvents
      summary: List the organization's audit trail, newest first (owner or admin).
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: action
          in: query
          required: false
          description: Exact action filter (for example `member.invited`).
          schema:
            type: string
            maxLength: 64
        - name: actor
          in: query
          required: false
          description: Filter on the acting user's id.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAuditEventList'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/audit-events/export:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: exportOrganizationAuditEvents
      summary: Download the whole audit trail as CSV (owner or admin; enterprise plan only).
      description: >
        Streams every event, newest first, as `text/csv`. Available to `enterprise` organizations; a team organization answers `402` with title `Upgrade Required` naming the plan limit (it is not a credit balance and cannot be fixed by topping up).

      responses:
        '200':
          description: CSV export.
          content:
            text/csv:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/api-keys:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationApiKeys
      summary: List the organization's API keys, no secrets (owner or admin).
      responses:
        '200':
          description: Live organization keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiKeyList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: createOrganizationApiKey
      summary: Create an organization API key (owner or admin). The plaintext token is returned ONCE.
      description: >
        A `nol_` bearer that authenticates as its creator FORCED into this organization, whatever their active organization is at the time. It carries the creator's current role and stops authenticating the moment the creator's membership ends. Never listed on `/pat`. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationApiKeyRequest'
      responses:
        '201':
          description: Key created; `token` is returned once and never again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationApiKeyResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/api-keys/{key_id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationApiKeyId'
    delete:
      tags: [Organizations]
      operationId: revokeOrganizationApiKey
      summary: Revoke an organization API key (owner or admin).
      description: >
        Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      responses:
        '204':
          description: Key revoked.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/credits:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: getOrganizationCredits
      summary: Get an organization's shared credit pool and per-member budgets.
      description: >
        The organization's wallets (`app_subscription`, then `shared_topup`), the current subscription period and seats, and every member's monthly credit budget with what they have spent this UTC calendar month (held plus consumed reservations against the organization's wallets). Owner, admin and billing roles see every member; member and viewer roles see only their own row. Non-members get `404`.

      responses:
        '200':
          description: The organization's credit pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCredits'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/usage:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: getOrganizationUsage
      summary: Roll up an organization's consumed credits by member, model or day.
      description: >
        Credits the organization actually paid for delivered work: CONSUMED reservations against the organization's wallets created in `[from, to)`, grouped by `group_by` (default `member`). Held and released holds are excluded. Defaults to the current UTC calendar month; the window may span at most 366 days. Owner, admin and billing roles see the whole organization; member and viewer roles see only their own spend. Non-members get `404`.

      parameters:
        - name: from
          in: query
          required: false
          description: Inclusive window start (RFC 3339). Defaults to the first instant of the current UTC month.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: Exclusive window end (RFC 3339). Defaults to the first instant of the next UTC month.
          schema:
            type: string
            format: date-time
        - name: group_by
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/OrganizationUsageGroupBy'
      responses:
        '200':
          description: Usage roll-up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUsage'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/storage-connections:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listStorageConnections
      summary: List the organization's bring-your-own storage connections (owner or admin; Enterprise).
      description: >
        Enterprise only: team organizations get 402 `Upgrade Required` (a plan limit, not a credit balance). Secrets are never returned; each connection shows its `access_key_id` and the last probe result. Answers 503 when the platform has no credential encryption key configured (`STORAGE_CREDENTIALS_KEY`).

      responses:
        '200':
          description: The organization's storage connections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageConnectionList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: createStorageConnection
      summary: Connect an S3-compatible bucket to the organization (owner or admin; Enterprise).
      description: >
        Stores the connection with the secret access key encrypted at rest (AES-256-GCM). The connection starts `unverified`; call `POST .../{connection_id}/test` to probe it. `endpoint` and `force_path_style` target S3-compatible providers (Cloudflare R2, MinIO, GCS interoperability); leave them unset for AWS S3. With `mirror_enabled` every asset that becomes ready in the organization library is copied to `<prefix>/<yyyy>/<mm>/<asset_id>.<ext>` by the mirror worker. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStorageConnectionRequest'
      responses:
        '201':
          description: Connection stored (status `unverified`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageConnection'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/storage-connections/{connection_id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/StorageConnectionId'
    patch:
      tags: [Organizations]
      operationId: updateStorageConnection
      summary: Update a storage connection (owner or admin; Enterprise).
      description: >
        Partial update. Toggling `mirror_enabled` never touches existing mirror rows; pending copies for a disabled connection simply stop being claimed. Rotating credentials requires `access_key_id` and `secret_access_key` together. Any change to the bucket, region, endpoint, prefix or credentials resets `status` to `unverified`. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStorageConnectionRequest'
      responses:
        '200':
          description: Updated connection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageConnection'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Organizations]
      operationId: deleteStorageConnection
      summary: Disconnect a storage connection (owner or admin; Enterprise).
      description: >
        Removes the connection and its mirror bookkeeping rows. Objects already copied into the customer's bucket are left untouched. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_change_organization` and detail "The NOLGIA Agent cannot change your organization. Do it in the app."

      responses:
        '204':
          description: Connection removed.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/OrganizationMutationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/storage-connections/{connection_id}/test:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/StorageConnectionId'
    post:
      tags: [Organizations]
      operationId: testStorageConnection
      summary: Probe a storage connection (owner or admin; Enterprise).
      description: >
        Runs HeadBucket, then writes and deletes `<prefix>/.nolgia-probe` with the stored credentials. The outcome is persisted on the connection: `status` becomes `ok` (with `last_verified_at`) or `error` (with `last_error`), and the updated connection is returned with 200 either way.

      responses:
        '200':
          description: Probe finished; read `status` and `last_error`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageConnection'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/storage-connections/{connection_id}/import:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/StorageConnectionId'
    post:
      tags: [Organizations]
      operationId: importStorageObjects
      summary: Import objects from the connected bucket into the organization library (owner or admin; Enterprise).
      description: >
        For each key the object is streamed from the customer's bucket into NOLGIA storage through the signed-upload machinery (asset status `uploading` then `ready`), stamped with the organization, named after the key's basename, and classified by its content type (the same media types and size limits as `POST /assets/uploads`). Keys are processed in order, synchronously; each result reports `imported` with the asset or `failed` with the reason, so one bad key never fails the batch. The importing connection records the object as already mirrored.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageImportRequest'
      responses:
        '200':
          description: Per-key import results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageImportResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /organizations/{id}/storage-connections/{connection_id}/backfill:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/StorageConnectionId'
    post:
      tags: [Organizations]
      operationId: backfillStorageMirrors
      summary: Queue every ready organization asset for mirroring to this connection (owner or admin; Enterprise).
      description: >
        Enqueues a pending mirror for each ready, non-trashed asset in the organization library that has no mirror row for this connection yet. The mirror worker drains the queue in the background; progress is visible per asset on `GET /assets/{id}` (`mirrors`).

      responses:
        '202':
          description: Mirrors enqueued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageBackfillResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /auth/device:
    post:
      tags: [Auth]
      operationId: startDeviceAuth
      summary: Begin device-code OAuth flow (CLI/MCP).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthRequest'
      responses:
        '200':
          description: Device authorization started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /auth/device/token:
    post:
      tags: [Auth]
      operationId: pollDeviceAuth
      summary: Poll for device-code completion to exchange for an access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTokenRequest'
      responses:
        '200':
          description: Authorization granted; token returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTokenResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /auth/device/approve:
    post:
      tags: [Auth]
      operationId: approveDeviceAuth
      summary: Approve a pending device-code authorization for the signed-in user.
      description: >
        Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_authorize_credentials` and detail "The NOLGIA Agent cannot authorize new credentials. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceApproveRequest'
      responses:
        '204':
          description: Device authorization approved.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/CredentialAuthorizationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /.well-known/oauth-authorization-server:
    get:
      tags: [Auth]
      operationId: getAuthorizationServerMetadata
      summary: OAuth 2.0 authorization server metadata (RFC 8414).
      description: >
        Unauthenticated by definition: an MCP connector fetches this before it holds any credential. It is the second hop of a connector handshake — the first is the MCP server's own protected-resource metadata (RFC 9728) at `https://mcp.nolgia.ai/.well-known/oauth-protected-resource`, whose `authorization_servers` entry points here.


        `code_challenge_methods_supported` carrying `S256` is not decorative: a connector that cannot find it treats this server as unsupported and refuses to connect at all.

      security: []
      responses:
        '200':
          description: Authorization server metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizationServerMetadata'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /oauth/register:
    post:
      tags: [Auth]
      operationId: registerOAuthClient
      summary: Dynamic client registration for MCP connectors (RFC 7591).
      description: >
        Open registration, which is what "dynamic" means: an assistant that has never seen this server registers itself rather than asking a human for a client id. Every client registered here is a PUBLIC client with no secret whose only power is to send a user to a consent screen that user must approve while signed in, so a client id on its own grants nothing.


        The response is authoritative (RFC 7591 §3.2.1): a request asking for more than this server implements, such as a confidential `token_endpoint_auth_method`, succeeds and is answered with the narrowed set it actually got. When provided, `grant_types` must include `authorization_code`; `response_types` must include `code`. The `grant_types` answered are the ones the token endpoint enforces for this client: list `refresh_token` to be issued refresh tokens, since an omitted `grant_types` registers `authorization_code` alone.

      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientRegistrationRequest'
      responses:
        '201':
          description: Client registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientRegistration'
        '400':
          description: The registration metadata is unusable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /oauth/authorize:
    get:
      tags: [Auth]
      operationId: startOAuthAuthorization
      summary: Begin an OAuth 2.1 authorization-code flow (browser redirect).
      description: >
        Validates the connector's request, parks it, and redirects the browser to the web consent page, which hosts sign-in and the Allow/Deny step. Nothing is decided here — the user has not been seen yet.


        PKCE is mandatory: `code_challenge` with `code_challenge_method=S256`. An invalid `client_id` or `redirect_uri` is answered as a direct problem response rather than a redirect, because redirecting to an unvalidated URI is the open-redirect this rule exists to prevent; every other error is delivered to the validated `redirect_uri` as an OAuth error carrying `iss` (RFC 9207).

      security: []
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: false
          description: >
            Must match one the client registered. For a loopback redirect the port is ignored (RFC 8252 §7.3), because a native client binds an ephemeral port it could not know at registration time.

          schema:
            type: string
            format: uri
        - name: code_challenge
          in: query
          required: true
          schema:
            type: string
        - name: code_challenge_method
          in: query
          required: true
          schema:
            type: string
            enum: [S256]
        - name: state
          in: query
          required: false
          schema:
            type: string
        - name: scope
          in: query
          required: false
          schema:
            type: string
        - name: resource
          in: query
          required: false
          description: >
            RFC 8707 resource indicator — the MCP server the token is for. Recorded on the authorization for audit; see `OAuthTokenResponse` for what the issued credential is scoped to.

          schema:
            type: string
            format: uri
      responses:
        '303':
          description: Redirect to the consent page, or to the client's redirect URI carrying an OAuth error.
          headers:
            Location:
              schema:
                type: string
                format: uri
        '400':
          description: The client or redirect URI could not be validated, so no redirect was safe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /oauth/authorize/request:
    get:
      tags: [Auth]
      operationId: getOAuthAuthorizationRequest
      summary: Read a pending authorization so the consent page can render it.
      description: >
        Requires the user's own bearer, so an unauthenticated caller cannot enumerate pending authorizations.

      parameters:
        - name: request_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The pending authorization request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizationRequest'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /oauth/authorize/decision:
    post:
      tags: [Auth]
      operationId: decideOAuthAuthorization
      summary: Record the signed-in user's Allow or Deny for a pending authorization.
      description: >
        Answers with the URL the browser must be sent to; the API never redirects here itself, because the consent page is a fetch client. Approving mints a single-use authorization code (only its digest is stored) and the response URL carries `code`, `state` and `iss`. Callers using agent PATs, turn tokens, or the legacy `X-Nolgia-Surface: hermes` header receive 403 with code `agent_cannot_authorize_credentials` and detail "The NOLGIA Agent cannot authorize new credentials. Do it in the app."

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthAuthorizationDecisionRequest'
      responses:
        '200':
          description: Decision recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizationDecisionResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/CredentialAuthorizationForbidden'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /oauth/token:
    post:
      tags: [Auth]
      operationId: exchangeOAuthToken
      summary: Exchange an authorization code or refresh token for an access token.
      description: >
        Form-encoded per RFC 6749; a JSON body is also accepted because some MCP clients send one. The `authorization_code` grant requires `code` and a PKCE `code_verifier` matching the challenge recorded at authorization time. The `refresh_token` grant requires `refresh_token` instead, without a code or PKCE verifier. Identify the client with `client_id` in the body or the HTTP Basic username.


        The issued access token is a normal personal API token (`nol_...`), using the same billing channel, per-user cap and revocation UI as one created by hand. There is no `expires_in`: the access token remains valid until revoked, including replacement during refresh rotation.


        Both successful grants return an access token, plus a refresh token when the client registered for the `refresh_token` grant, issued atomically with consumption of the code or refresh token. A client registered for `authorization_code` alone is refused the refresh grant with `unauthorized_client`. A temporary issuance failure returns `503 temporarily_unavailable` with `Retry-After`, without issuing a PAT or consuming the code or refresh token. Retry the same grant after the indicated delay.


        Refresh tokens are single use and bound to the client. Store the replacement returned by each refresh rather than reusing the previous token. Replaying a spent refresh token revokes its family and associated access tokens; the connector must authorize again.

      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
      responses:
        '200':
          description: Access token issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          description: The grant could not be redeemed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '503':
          description: >
            Temporarily unavailable. Token issuance was rolled back without issuing a PAT or consuming the authorization code or refresh token. Retry the same grant after the Retry-After delay.

          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
                examples: [5]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
              example:
                error: temporarily_unavailable
                error_description: the token operation failed; retry the request
        default:
          $ref: '#/components/responses/ProblemResponse'
  /oauth/revoke:
    post:
      tags: [Auth]
      operationId: revokeOAuthToken
      summary: Revoke an access or refresh token issued to a connector (RFC 7009).
      description: >
        Answers `200` for an unknown, malformed or already-revoked token, as RFC 7009 §2.2 requires: any other answer would make this endpoint an oracle for guessing tokens.


        Possession of the refresh token is sufficient for revocation; no `client_id` is required. If supplied in the body or HTTP Basic username, the client identifier must match the refresh token's client. A mismatch returns a silent `200` without revoking anything. `token_type_hint` is advisory and does not restrict which token type can be revoked.


        Revoking a refresh token atomically revokes its entire refresh family and associated personal API tokens. Database failures return `503 temporarily_unavailable` with `Retry-After`, rather than falsely acknowledging revocation. Retry after the indicated delay.

      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuthRevocationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthRevocationRequest'
      responses:
        '200':
          description: Revocation processed. Returned whether or not a token was actually revoked.
        '400':
          description: The request could not be parsed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '503':
          description: >
            Temporarily unavailable. Revocation could not be completed due to an infrastructure failure. Refresh-family revocation is atomic, including associated PATs. Retry after the Retry-After delay.

          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
                examples: [5]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
              example:
                error: temporarily_unavailable
                error_description: the token operation failed; retry the request
        default:
          $ref: '#/components/responses/ProblemResponse'
  /generate/image:
    post:
      tags: [Generate]
      operationId: generateImage
      summary: Submit an image generation job (asynchronous).
      description: |
        Returns immediately with a queued job. Use `GET /jobs/{id}` or
        `GET /jobs/{id}/wait` to track completion, then `GET /assets?job_id={id}`
        to retrieve the produced asset(s).

        **Duplicate submissions are refused, not billed.** Submitting the same
        request twice within five minutes returns `409` naming the job that
        already exists, so a lost response — a closed tab, a dropped
        connection, a timed-out request — cannot turn into a second charge.
        Send a distinct `Idempotency-Key` header to declare a deliberate new
        generation of an identical prompt; repeat the same key to make your
        own retries collapse onto one job.

        **Failures carry a machine-readable code.** A refusal sets `error.code` and a failed job sets
        `failure.code` to a `GenerationErrorCode`, so a client can branch without parsing prose.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateImageRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /generate/audio:
    post:
      tags: [Generate]
      operationId: generateAudio
      summary: Submit an audio generation job (asynchronous).
      description: |
        Returns immediately with a queued job. Use `GET /jobs/{id}` or
        `GET /jobs/{id}/wait` to track completion, then `GET /assets?job_id={id}`
        to retrieve the produced asset.

        **Duplicate submissions are refused, not billed.** Submitting the same
        request twice within five minutes returns `409` naming the job that
        already exists. Send a distinct `Idempotency-Key` header to declare a
        deliberate new generation of an identical prompt; repeat the same key
        to make your own retries collapse onto one job.

        **Text to speech is billed by the length of `prompt`**, in characters,
        not per request. `GET /models` publishes the meter for each voice as
        `cost.unit: per_character` with `cost.characters_per_credit` and
        `cost.minimum_credits`, and the charge is

          max(minimum_credits, ceil(characters / characters_per_credit))

        so a caller can price a script exactly before submitting it. Music and
        sound-effects models are billed per track (`cost.unit: per_generation`)
        and their prompt length does not change the price.

        **Failures carry a machine-readable code.** A refusal sets `error.code` and a failed job sets
        `failure.code` to a `GenerationErrorCode`, so a client can branch without parsing prose.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAudioRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /generate/video:
    post:
      tags: [Generate]
      operationId: generateVideo
      summary: Submit a video generation job (asynchronous).
      description: |
        Returns immediately with a job. Default model is Kling v3.0 text-to-video.
        Use `GET /jobs/{id}` or `GET /jobs/{id}/wait` to retrieve the final asset.

        **Duplicate submissions are refused, not billed.** Submitting the same
        request twice within five minutes returns `409` naming the job that
        already exists, so a lost response — a closed tab, a dropped
        connection, a `wait` that timed out — cannot turn into a second
        charge. Send a distinct `Idempotency-Key` header to declare a
        deliberate new take of an identical prompt; repeat the same key to
        make your own retries collapse onto one job.

        **Failures carry a machine-readable code.** A refusal sets `error.code` and a failed job sets
        `failure.code` to a `GenerationErrorCode`, so a client can branch without parsing prose.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateVideoRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /generate/video/enhance-prompt:
    post:
      tags: [Generate]
      operationId: enhanceVideoPrompt
      summary: Rewrite a video prompt for the model it will run on (signed in; 1 credit).
      description: |
        One-click, model-aware prompt enhancement for the video composer.
        Sends the customer's plain prompt plus the run's settings (`model`,
        `duration_seconds`, `has_references`, `generate_audio`, `aspect_ratio`)
        to the cheapest brain in the roster with a system prompt built from a
        per-model guidance table, and returns ONE rewritten prompt that is
        runnable as it is on `POST /generate/video` plus short `notes` on what
        changed. Seedance 2.5 (`seedance-2.5`) has its own entry (4 to 30
        second single pass, native audio and speech, a timestamped shot plan
        with one action and one camera move per beat, what to preserve, what
        to avoid, no on-screen text); every other video model gets a generic
        entry built from the model's published capabilities (durations,
        audio, speech, aspect ratios, references, end frame). The rewrite
        keeps the customer's subject, named references (`@Image1`,
        `@Name`), brands and people, and never adds a real brand or person
        the prompt did not name. Nothing is generated and nothing fires
        automatically: the caller decides whether to use the result.

        Billed like preset suggestions: a one-credit hold is taken before
        the call (`402` when the account cannot cover it), the call runs with
        strict JSON output (one retry on an invalid reply), and the hold
        settles at `ceil(provider cost / $0.018)` with a floor of 1 credit,
        refunded if the provider fails. The ledger row reads "Prompt
        enhancement · {model}". Rate limited to 20 calls per minute per
        account (`429`), shared with preset suggestions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoPromptEnhanceRequest'
            examples:
              seedance:
                summary: A plain scene for Seedance 2.5
                value:
                  model: seedance-2.5
                  prompt: 'A barista pours latte art in a sunny cafe, slow and calm'
                  duration_seconds: 8
                  generate_audio: true
                  aspect_ratio: '16:9'
      responses:
        '200':
          description: The rewritten prompt, the notes and what the call charged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoPromptEnhanceResponse'
              examples:
                seedance:
                  summary: The rewrite for the example above
                  value:
                    prompt: 'A barista in a linen apron pours latte art at a sunlit wooden counter, morning light through a tall window, steam rising, a calm unhurried mood. Shot on Alexa Mini, 50mm at T2.0, Kodak Vision3 250D look, soft window light as the only source. [0-2s] Medium shot from across the counter, static tripod, the pitcher tilts and the first pour lands. [2-4s] Slow push-in to a tight close-up on the cup as the rosette forms. [4-6s] Macro rack focus from the pour to the barista''s steady hands. [6-8s] The pitcher lifts, the cup slides forward toward the lens, hold. Sound: the hiss of steam, the soft pour, quiet cafe room tone, no music. No on-screen text, no captions, no watermark.'
                    notes:
                      - 'Split the 8 seconds into four 2 second beats, one action and one camera move each.'
                      - 'Named the light source and the lens instead of "sunny" so the model picks a consistent look.'
                      - 'Audio is on, so the sound bed is described; no dialogue was added because your prompt has none.'
                    guidance: seedance-2.5
                    credits_charged: 1
                    model: 'deepseek-v4-flash'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '429':
          $ref: '#/components/responses/ProblemResponse'
        '502':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /generate/set:
    post:
      tags: [Generate]
      operationId: generateSet
      summary: Generate a coordinated set of image Outputs.
      description: |
        A pack groups carousel slides or ad variants sharing one visual system.
        A variants set explores a named axis, such as emotion or concept.
        Each member is its own image job with its own credit hold and refund.
        Returns 202 with the set; poll `GET /sets/{id}` until its Outputs are Ready.
        An `Idempotency-Key` on this endpoint is ignored per member.
        If a later member is refused, accepted members keep running and further
        members are not submitted. `problems` lists the refused labels.

        **Failures carry a machine-readable code.** A refusal sets `error.code` and a failed job sets
        `failure.code` to a `GenerationErrorCode`, so a client can branch without parsing prose.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSetRequest'
      responses:
        '202':
          description: Set accepted, Outputs are Generating.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputSet'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /sets:
    get:
      tags: [Sets]
      operationId: listSets
      summary: List sets in your current library, newest first.
      parameters:
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum sets to return, 25 when omitted.
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Sets visible in your library.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputSetList'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /sets/{id}:
    get:
      tags: [Sets]
      operationId: getSet
      summary: Get a set with its jobs and Ready Outputs.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Set found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputSet'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /generate/3d:
    post:
      tags: [Generate]
      operationId: generate3D
      summary: Turn product or object photos into a 3D model.
      description: |
        Turn one to four photos into a GLB model you can view in a browser
        and download. `hunyuan3d-v3` is the standard quality engine and the
        default; it accepts front, back, left and right views. `trellis` is
        the draft engine; it accepts one photo and always adds textures.
        Returns immediately with a job. Use `GET /jobs/{id}` or
        `GET /jobs/{id}/wait` to retrieve its `3d` asset (`model/gltf-binary`,
        `.glb`), with a preview thumbnail when the engine returns one.

        Credits are charged per generation. Hunyuan costs 21 credits with
        textures or 13 for an untextured white model. PBR materials add 9
        credits and require textures. Extra views add 9 credits once,
        whether you send one, two or three extra views. The textured totals
        are 21, 30 with PBR, 30 with extra views, or 39 with both; untextured
        totals are 13 or 22 with extra views. Trellis costs 2 credits.

        **Duplicate submissions are refused, not billed.** Submitting the same
        request twice within five minutes returns `409` naming the job that
        already exists, so a lost response - a closed tab, a dropped
        connection, a `wait` that timed out - cannot turn into a second
        charge. Send a distinct `Idempotency-Key` header to declare a
        deliberate new take of an identical prompt; repeat the same key to
        make your own retries collapse onto one job.

        **Failures carry a machine-readable code.** A refusal sets `error.code` and a failed job sets
        `failure.code` to a `GenerationErrorCode`, so a client can branch without parsing prose.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generate3DRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /remove-background/video:
    post:
      tags: [Generate]
      operationId: removeBackgroundVideo
      summary: Remove a video's background (asynchronous).
      description: |
        Extract the foreground of one source clip with no prompt. Returns a
        normal video job; use `GET /jobs/{id}` or `GET /jobs/{id}/wait` to
        retrieve the asset. Output is WebM/VP9 with an alpha channel, not MP4.
        Glass and other genuinely transparent materials come back opaque.

        Exactly one source asset or https URL is required. Billing uses the
        stored source duration when available; otherwise `duration_seconds`
        is required. Credits scale with source length at the flat per-5-second
        rate on `GET /models`, independently of resolution. No quality tier,
        prompt, or restore controls are accepted. These models publish
        `remove_background: true`, not `restore: true`.

        **Duplicate submissions are refused, not billed.** An identical
        request within five minutes returns `409` naming the existing job;
        send a distinct `Idempotency-Key` for a deliberate new run.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveBackgroundVideoRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /restore/video:
    post:
      tags: [Generate]
      operationId: restoreVideo
      summary: Submit a video restoration/upscale job (asynchronous).
      description: |
        The AI footage-restorer lane: re-renders existing footage (a video
        asset you generated or uploaded, or a URL you host) at a target
        resolution tier with de-noise, de-haze and detail recovery. Restore
        models take NO prompt — the source clip and the chosen engine are the
        whole input. Returns immediately with a job (modality `video`); use
        `GET /jobs/{id}` or `GET /jobs/{id}/wait` to retrieve the restored
        asset.

        Pick the model to match the footage: `seedvr2-restore` is the general
        AI restorer, and the `topaz-*` master upscalers expose one Topaz
        engine each (faces, CG, interlaced, generative, and so on) — see
        `RestoreVideoModel`.

        Credits scale with the source clip length at the selected quality
        tier's per-5-second rate — see the model's `quality.options` on
        `GET /models`. Restore-lane models carry `restore: true` in the
        model catalog.

        **Duplicate submissions are refused, not billed.** Same idempotency
        contract as `POST /generate/video`: an identical request within five
        minutes returns `409` naming the existing job; send a distinct
        `Idempotency-Key` header to declare a deliberate new run.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreVideoRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /jobs/cost:
    post:
      tags: [Jobs]
      operationId: quoteJobCost
      summary: Price a generation before submitting it.
      description: |
        Returns the credits the matching generate call will hold for exactly
        these settings, a settings summary to show the customer, and a
        short-lived confirmation token.

        **Nothing is submitted, nothing is reserved and nothing is charged.**
        The request is validated as the generate endpoint would validate it,
        so an unpriceable or malformed request is refused here with the same
        status, detail and `error.code` it would get on submit.

        **The quote is not an estimate.** It is produced by running the real
        generate handler up to the moment it would spend, so the number here
        and the number held on submit come from one call to one pricer and
        cannot drift. A quote can still go stale: re-quote if the customer
        changes anything, and re-quote after `expires_at`.

        **Sending the token back is optional.** No surface requires it. A
        generate call with no `confirmation_token` behaves exactly as it
        always has — existing clients are unaffected. A call that DOES carry
[...]
