openapi: 3.0.3
info:
  title: Nolgia API
  version: 0.1.0
  summary: Generative media platform (image, audio, video) — single contract for web, CLI, and MCP clients.
  description: |
    Nolgia API is the single backend serving the Nolgia website, Rust CLI, and MCP server.
    It orchestrates three generation paths:
      * **image** — synchronous (5–15s typical)
      * **audio** — long-poll synchronous (up to 900s)
      * **video** — asynchronous via job orchestrator
    All non-public endpoints require either an Auth.js bearer JWT (web) or a Personal Access Token (CLI/MCP).
  contact:
    name: Nolgia Engineering
    url: https://nolgia.ai
  license:
    name: Proprietary
    url: https://nolgia.ai/terms

servers:
  - url: https://api.nolgia.ai/v1
    description: Production
  - url: https://api.stg.nolgia.ai/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: Auth
    description: Sign-in flows for CLI/MCP (device code) and current-user info.
  - name: Generate
    description: Image, audio, and video generation endpoints.
  - name: Models
    description: Model catalog and per-model capabilities.
  - name: Jobs
    description: Async job lifecycle (used primarily for video).
  - name: Assets
    description: Generated media stored in GCS with signed URLs.
  - name: Characters
    description: User-owned reusable subjects (name, description, reference images) for generation.
  - name: Projects
    description: User-owned groupings of assets; an asset can belong to multiple projects.
  - name: Compositions
    description: |
      HyperFrames-style HTML video compositions: a bundle of files
      (index.html + compositions/*.html + assets/* + meta.json) authored by a
      user's Hermes agent and rendered by the web UI as a scrubbable timeline.
      The API stores the files in GCS and serves them back via short-lived
      signed URLs; it never renders or executes composition content.

      Version series convention: compositions that are versions of the same
      work share a `meta.series` string and carry an integer `meta.version`.
      These are ordinary meta keys — the API stores them verbatim and never
      assigns or increments them; clients own the numbering. Create a new
      version with `POST /compositions/{id}/clone` (typically bumping
      `meta.version` via `meta_patch`) and list a series with
      `GET /compositions?series=...`.
  - name: Activity
    description: |
      Read-only chronological feed of platform events (generations, assets,
      compositions, renders), assembled at read time from the underlying
      resources — nothing extra is stored to serve it.
  - name: Billing
    description: Subscription state and Stripe Customer Portal.
  - name: PAT
    description: Personal Access Token issuance and revocation.
  - name: Agent
    description: Per-customer Hermes agent provisioning, usage, and chat relay.
  - name: Abilities
    description: Marketplace of admin-published ability packages that customer Hermes agents install and run.
  - name: Health
    description: Service health probes.

security:
  - bearerAuth: []
  - patAuth: []

paths:

  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: Service is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '429':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /models:
    get:
      tags: [Models]
      operationId: listModels
      summary: List available models and their capabilities.
      responses:
        '200':
          description: Model catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /me:
    get:
      tags: [Auth]
      operationId: getCurrentUser
      summary: Get the currently authenticated user.
      responses:
        '200':
          description: Current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /auth/device:
    post:
      tags: [Auth]
      operationId: startDeviceAuth
      summary: Begin device-code OAuth flow (CLI/MCP).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthRequest'
      responses:
        '200':
          description: Device authorization started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /auth/device/token:
    post:
      tags: [Auth]
      operationId: pollDeviceAuth
      summary: Poll for device-code completion to exchange for an access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTokenRequest'
      responses:
        '200':
          description: Authorization granted; token returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTokenResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /auth/device/approve:
    post:
      tags: [Auth]
      operationId: approveDeviceAuth
      summary: Approve a pending device-code authorization for the signed-in user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceApproveRequest'
      responses:
        '204':
          description: Device authorization approved.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /generate/image:
    post:
      tags: [Generate]
      operationId: generateImage
      summary: Submit an image generation job (asynchronous).
      description: |
        Returns immediately with a queued job. Use `GET /jobs/{id}` or
        `GET /jobs/{id}/wait` to track completion, then `GET /assets?job_id={id}`
        to retrieve the produced asset(s).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateImageRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /generate/audio:
    post:
      tags: [Generate]
      operationId: generateAudio
      summary: Submit an audio generation job (asynchronous).
      description: |
        Returns immediately with a queued job. Use `GET /jobs/{id}` or
        `GET /jobs/{id}/wait` to track completion, then `GET /assets?job_id={id}`
        to retrieve the produced asset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAudioRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /generate/video:
    post:
      tags: [Generate]
      operationId: generateVideo
      summary: Submit a video generation job (asynchronous).
      description: |
        Returns immediately with a job. Default model is Kling v3.0 text-to-video.
        Use `GET /jobs/{id}` or `GET /jobs/{id}/wait` to retrieve the final asset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateVideoRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs:
    get:
      tags: [Jobs]
      operationId: listJobs
      summary: List jobs for the current user.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/JobStatus'
        - name: modality
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Modality'
      responses:
        '200':
          description: Paginated list of jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}:
    get:
      tags: [Jobs]
      operationId: getJob
      summary: Get a single job.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}/wait:
    get:
      tags: [Jobs]
      operationId: waitForJob
      summary: Block until the job reaches a terminal state (or timeout).
      description: Long-poll variant; server holds the connection up to `timeout_seconds` (max 900).
      parameters:
        - $ref: '#/components/parameters/JobId'
        - name: timeout_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 900
            default: 300
      responses:
        '200':
          description: Job reached a terminal state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '408':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}/sse-ticket:
    post:
      tags: [Jobs]
      operationId: createJobSSETicket
      summary: Mint a single-use ticket for the job status stream.
      description: >
        Returns a short-lived, single-use ticket that authorizes one
        `GET /jobs/{id}/sse` connection. Required because `EventSource`
        cannot send an `Authorization` header. The ticket is consumed on
        first use and expires after 60 seconds.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '201':
          description: Ticket issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSETicket'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}/sse:
    get:
      tags: [Jobs]
      operationId: streamJobSSE
      summary: Stream job status updates over Server-Sent Events.
      description: >
        Opens a `text/event-stream` connection that emits the current job
        state immediately, then a `status` event per update and a final
        `complete` event when the job reaches a terminal state. Authorized
        by a single-use `ticket` query parameter from `POST /jobs/{id}/sse-ticket`,
        not by the bearer schemes.
      security: []
      parameters:
        - $ref: '#/components/parameters/JobId'
        - name: ticket
          in: query
          required: true
          description: Single-use ticket from `POST /jobs/{id}/sse-ticket`.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Event stream opened.
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets:
    get:
      tags: [Assets]
      operationId: listAssets
      summary: List the current user's assets.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: modality
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Modality'
        - name: job_id
          in: query
          required: false
          description: Return only assets produced by the given job.
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: Return only assets carrying the given tag.
          schema:
            type: string
            minLength: 1
            maxLength: 40
        - name: project_id
          in: query
          required: false
          description: Return only assets belonging to the given project.
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: >
            Filter by asset lifecycle status. Defaults to `ready`, hiding
            assets whose signed upload has not been completed yet.
          schema:
            $ref: '#/components/schemas/AssetStatus'
      responses:
        '200':
          description: Paginated list of assets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Assets]
      operationId: uploadAsset
      summary: Upload a source image for image-to-image or image-to-video.
      description: >
        Stores the supplied bytes and returns an asset whose signed_url can be
        passed as image_url to generation endpoints. Accepts base64 JSON up to
        ~10MB decoded, which only suits small images: for large media files
        (video/audio artifacts, hundreds of MB) use the signed-upload flow
        instead — `POST /assets/uploads` followed by a direct PUT and
        `POST /assets/uploads/{id}/complete`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
      responses:
        '201':
          description: Asset stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '413':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/{id}:
    get:
      tags: [Assets]
      operationId: getAsset
      summary: Fetch one of the current user's assets with a fresh signed URL.
      description: >
        Unlike the list endpoint, the response includes `projects`: the
        asset's project memberships (newest membership first, `[]` when the
        asset belongs to no project).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disposition
          in: query
          required: false
          description: >
            When set to `attachment`, the returned `signed_url` serves the
            asset with a `Content-Disposition: attachment` header (bound into
            the signature) so browsers download the file instead of rendering
            it inline. The download filename is derived from the asset's
            display name (with an extension inferred from its MIME type),
            falling back to the original upload filename, then to
            `<id>.<ext>`. Omit for the default inline-viewing URL.
          schema:
            type: string
            enum: [attachment]
      responses:
        '200':
          description: Asset found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Assets]
      operationId: updateAsset
      summary: Update one of the current user's assets (tags, display name, prompt, metadata).
      description: >
        Partial update: `tags` replaces the asset's full tag set (trimmed,
        lowercased, and de-duplicated server-side), `display_name` renames
        the asset, `prompt` overwrites the stored prompt (intended for
        backfilling provenance on uploaded assets), and `metadata` is merged
        into the existing metadata object (patch keys overwrite, other keys
        are kept). At least one field is required; omitted fields are left
        unchanged.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetRequest'
      responses:
        '200':
          description: Asset updated; returned with a fresh signed URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Assets]
      operationId: deleteAsset
      summary: Delete one of the current user's assets.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Asset deleted.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/uploads:
    post:
      tags: [Assets]
      operationId: createAssetUpload
      summary: Start a signed upload for a large media asset.
      description: >
        Pre-creates an asset in status `uploading` and returns a short-lived
        signed PUT URL for uploading the bytes directly to storage, bypassing
        the base64 JSON limit of `POST /assets`. PUT the file to `upload_url`
        with a `Content-Type` header exactly matching the declared
        `content_type` (the signature covers it), then call
        `POST /assets/uploads/{upload_id}/complete` to verify the object and
        flip the asset to `ready`. The URL expires after 30 minutes.
        Uploading assets are hidden from `GET /assets` until completed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetUploadRequest'
      responses:
        '201':
          description: Upload slot created; PUT the bytes to `upload_url`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetUpload'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '413':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/uploads/{id}/complete:
    post:
      tags: [Assets]
      operationId: completeAssetUpload
      summary: Finish a signed upload and make the asset available.
      description: >
        Verifies that the object was uploaded to storage and that its size
        matches the declared `size_bytes`, then flips the asset to `ready`
        and applies tag-based project auto-association. Completing an upload
        whose object is missing (or whose size does not match the
        declaration) returns 409 with details. Completing an
        already-completed upload is idempotent and returns the asset with
        200.
      parameters:
        - name: id
          in: path
          required: true
          description: The `upload_id` returned by `POST /assets/uploads`.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Asset is ready; returned with a fresh signed URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /characters:
    get:
      tags: [Characters]
      operationId: listCharacters
      summary: List the current user's characters, newest first.
      responses:
        '200':
          description: Characters owned by the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Characters]
      operationId: createCharacter
      summary: Create a reusable character from existing image assets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCharacterRequest'
      responses:
        '201':
          description: Character created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /characters/{id}:
    get:
      tags: [Characters]
      operationId: getCharacter
      summary: Fetch one of the current user's characters with fresh signed reference URLs.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Character found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Characters]
      operationId: updateCharacter
      summary: Update a character's name, description, or reference images.
      description: Partial update; only provided fields change. Providing `reference_asset_ids` replaces the full reference set.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCharacterRequest'
      responses:
        '200':
          description: Character updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Characters]
      operationId: deleteCharacter
      summary: Delete one of the current user's characters.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Character deleted.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /projects:
    get:
      tags: [Projects]
      operationId: listProjects
      summary: List the current user's projects, newest first.
      responses:
        '200':
          description: Projects owned by the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Projects]
      operationId: createProject
      summary: Create a project to group assets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /projects/{id}:
    get:
      tags: [Projects]
      operationId: getProject
      summary: Fetch one of the current user's projects.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Projects]
      operationId: updateProject
      summary: Update a project's name or description.
      description: Partial update; only provided fields change.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Projects]
      operationId: deleteProject
      summary: Delete one of the current user's projects. Member assets are never deleted.
      description: >
        The default "Library" project can be deleted like any other project;
        a fresh one is recreated on demand the next time an asset needs a
        default home.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Project deleted.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /projects/{id}/assets:
    post:
      tags: [Projects]
      operationId: addProjectAssets
      summary: Add existing assets to a project (idempotent).
      description: >
        Every asset must exist and belong to the caller. Assets already in
        the project are skipped. Adding an asset to a non-default project
        also removes the asset's membership in the default "Library" project
        (Library is a catch-all, not a permanent home); adding to the
        default project itself leaves memberships untouched.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProjectAssetsRequest'
      responses:
        '204':
          description: Assets added to the project.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /projects/{id}/assets/{asset_id}:
    delete:
      tags: [Projects]
      operationId: removeProjectAsset
      summary: Remove an asset from a project. The asset itself is not deleted.
      description: Removing an asset that is not in the project is a no-op.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Asset removed from the project (or was not a member).
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /compositions:
    get:
      tags: [Compositions]
      operationId: listCompositions
      summary: List the current user's compositions, newest first.
      description: Listing omits per-composition files; fetch a single composition for its file inventory.
      parameters:
        - name: project_id
          in: query
          required: false
          description: Return only compositions linked to the given project.
          schema:
            type: string
            format: uuid
        - name: series
          in: query
          required: false
          description: >
            Return only compositions whose `meta.series` equals this value
            (the version-series convention). Series and version are part of
            each composition's `meta`, which list responses already include.
          schema:
            type: string
            minLength: 1
            maxLength: 200
      responses:
        '200':
          description: Compositions owned by the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositionList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Compositions]
      operationId: createComposition
      summary: Create an empty composition.
      description: Composition names are unique per user; a duplicate name returns 409. An optional `project_id` links the composition to a caller-owned project; an unknown or foreign project returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompositionRequest'
      responses:
        '201':
          description: Composition created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Composition'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /compositions/{id}:
    get:
      tags: [Compositions]
      operationId: getComposition
      summary: Fetch one of the current user's compositions, including its file inventory.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Composition found; `files` lists every stored file (path, content type, size).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Composition'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Compositions]
      operationId: updateComposition
      summary: Update a composition's name, description, project link, or meta.
      description: Partial update; only provided fields change. Renaming to another composition's name returns 409; linking to an unknown or foreign project returns 404.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompositionRequest'
      responses:
        '200':
          description: Composition updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Composition'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Compositions]
      operationId: deleteComposition
      summary: Delete a composition and all of its files.
      description: File rows are removed transactionally; the underlying GCS objects are deleted best-effort.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Composition deleted.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /compositions/{id}/file:
    put:
      tags: [Compositions]
      operationId: putCompositionFile
      summary: Upload or overwrite one file in a composition.
      description: |
        Upserts the file at the relative bundle path given by the `path` query
        parameter (uploading the same path again overwrites it). The path is a
        query parameter rather than a path parameter because bundle paths
        contain slashes (e.g. `compositions/scene1.html`) and the generated
        chi router does not support greedy path parameters.

        Constraints: the path must be relative (no leading `/`), must not
        contain `.` or `..` segments, and is at most 200 characters; the
        decoded content is at most 25 MiB; a composition holds at most 200
        files; the content type must be one of text/html, text/css,
        application/javascript, application/json, or any image/*, video/*,
        audio/*, or font/* type.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: path
          in: query
          required: true
          description: Relative path of the file inside the bundle, e.g. `index.html` or `assets/vo.ogg`.
          schema:
            type: string
            minLength: 1
            maxLength: 200
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCompositionFileRequest'
      responses:
        '200':
          description: File stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositionFile'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '413':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Compositions]
      operationId: deleteCompositionFile
      summary: Delete one file from a composition.
      description: The GCS object is deleted best-effort. The `path` query parameter names the file (see putCompositionFile for why it is not a path parameter).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: path
          in: query
          required: true
          description: Relative path of the file inside the bundle.
          schema:
            type: string
            minLength: 1
            maxLength: 200
      responses:
        '204':
          description: File deleted.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /compositions/{id}/files:signed-urls:
    post:
      tags: [Compositions]
      operationId: signCompositionFiles
      summary: Mint fresh signed GET URLs for composition files and referenced platform assets.
      description: |
        Returns a short-lived (15-minute) signed URL for each requested entry
        so the web UI can build the preview iframe. Every requested entry
        must resolve, otherwise 404 naming the entry.

        Each `paths` entry is either a relative bundle path naming an
        existing composition file, or a platform-asset reference of the form
        `asset:<uuid>` — the same scheme composition HTML may use in media
        `src` attributes (e.g. `<video src="asset:550e8400-...">`). Asset
        references resolve to the caller's own assets in status `ready` and
        return a signed GET URL for the asset's stored object; an unknown,
        foreign, or not-yet-ready asset returns 404 naming the entry. The
        `asset:` prefix is reserved: bundle file paths must not use it.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositionSignedUrlsRequest'
      responses:
        '200':
          description: One signed URL per requested path, in request order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositionSignedUrlsResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /compositions/{id}/clone:
    post:
      tags: [Compositions]
      operationId: cloneComposition
      summary: Clone a composition, copying its full file bundle.
      description: |
        Creates a new composition owned by the caller from an existing one:
        the description, project link, and meta are copied, and every stored
        file is duplicated (rows and underlying GCS objects, via server-side
        copy) into the new composition — except `nolgia-edits.json`, which is
        intentionally skipped so a new version starts with a clean edit
        overlay.

        This is the version-series primitive: give the source composition a
        `meta.series` and `meta.version`, then clone with a `meta_patch`
        bumping `meta.version` to mint the next version. `meta_patch` is
        shallow-merged over the source meta (`source.meta || meta_patch`):
        top-level keys in the patch replace the source's keys wholesale.

        The clone's name defaults to the source name plus " copy" (truncated
        to fit 80 characters) unless `name` is provided; either way a name
        already used by another of the caller's compositions returns 409.
        An unknown or foreign composition returns 404.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneCompositionRequest'
      responses:
        '201':
          description: Clone created; `files` lists the copied file inventory.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Composition'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /compositions/{id}/render:
    post:
      tags: [Compositions]
      operationId: createCompositionRender
      summary: Queue a server-side MP4 export of the composition's effective timeline.
      description: |
        Enqueues a render of the composition's *effective* timeline — the
        authored HTML timing plus the `nolgia-edits.json` overlay (v1/v2) — to
        an MP4 that is written back as a platform asset (tags `render` and
        `composition:<slug>`). Returns 202 immediately; poll
        `GET /renders/{id}` for completion. A Cloud Run job is triggered
        best-effort; if triggering fails the render stays `queued` and is
        picked up by the next scheduled job tick.

        **Supported timeline subset.** The renderer interprets *placement and
        visibility timing only* — it does not execute scripts or interpret
        GSAP tweens. From `index.html` and any `data-composition-src`
        sub-compositions it renders elements carrying
        `data-start`/`data-duration` (`data-track-index` = z-order,
        default 0):

        - `<video>`, `<audio>`, `<img>` whose `src` resolves to a composition
          file or is an `asset:<uuid>` reference to one of the owner's ready
          platform assets — video/img as visual clips (img = still with
          duration; the `muted` attribute is respected), audio mixed into the
          master track. Asset references are placed by the asset's actual
          modality; unresolvable references are skipped with a warning.
        - Edits overlay v2: element overrides (`start`/`duration`/`track`/
          `hidden`/`srcOffset`) and additions (kind `media` with `assetId` or
          `path`; kind `text`).
        - Pure text elements (an element whose content is plain text with no
          child elements) and text additions — rendered as animated titles
          with basic styling (white text on a dark pill, safe-zone margin).
          Text fidelity is approximate: authored CSS is NOT applied.

        The canvas size comes from `data-width`/`data-height` on the root
        container (default 1080x1920). Everything else — styled `<div>`s,
        GSAP-only animation, unknown tags, unresolvable media — is skipped
        and recorded in the render's `warnings` array.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRenderRequest'
      responses:
        '202':
          description: Render queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Render'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /compositions/{id}/renders:
    get:
      tags: [Compositions]
      operationId: listCompositionRenders
      summary: List the composition's renders, newest first (at most 20).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Renders for the composition, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /renders/{id}:
    get:
      tags: [Compositions]
      operationId: getRender
      summary: Fetch one render, including its status, warnings, and produced asset id.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Render found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Render'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /activity:
    get:
      tags: [Activity]
      operationId: getActivity
      summary: Chronological activity feed for the current user, newest first.
      description: |
        A read-time event stream assembled from the user's existing jobs,
        assets, compositions, and renders — the feed stores nothing of its
        own. Events carry a server-built, human-readable summary (at most
        160 characters) plus the ids of the resources they refer to.

        With `project_id`, the feed narrows to events whose asset or
        composition belongs to that project: asset events check project
        membership, composition and render events use the composition's
        project link, and generation job events join through the asset the
        job produced. Jobs that have not produced an asset yet (still
        queued/running, or failed before output) therefore appear only in
        the unfiltered feed.
      parameters:
        - name: project_id
          in: query
          required: false
          description: Restrict the feed to events belonging to this project.
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          required: false
          description: >
            Return only events strictly newer than this timestamp. Pass the
            newest `at` already seen to poll for increments.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: false
          description: Maximum events to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Activity events, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityFeed'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /billing/subscription:
    get:
      tags: [Billing]
      operationId: getSubscription
      summary: Get the current user's subscription state.
      responses:
        '200':
          description: Subscription details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /billing/portal-link:
    post:
      tags: [Billing]
      operationId: createPortalLink
      summary: Create a Stripe Customer Portal session and return its URL.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortalLinkRequest'
      responses:
        '200':
          description: Portal URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalLinkResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /billing/credits:
    get:
      tags: [Billing]
      operationId: getCredits
      summary: Get the current user's credit wallet balances.
      responses:
        '200':
          description: Credit balances across launch wallet buckets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditBalance'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /billing/auto-refresh:
    get:
      tags: [Billing]
      operationId: getAutoRefresh
      summary: Get the current user's auto-refresh settings.
      responses:
        '200':
          description: Auto-refresh settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoRefreshSettings'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    put:
      tags: [Billing]
      operationId: putAutoRefresh
      summary: Update the current user's auto-refresh settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoRefreshSettingsRequest'
      responses:
        '200':
          description: Updated auto-refresh settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoRefreshSettings'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /pat:
    get:
      tags: [PAT]
      operationId: listPats
      summary: List the current user's Personal Access Tokens (no secrets).
      responses:
        '200':
          description: PAT list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatPage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [PAT]
      operationId: createPat
      summary: Create a Personal Access Token. The plaintext token is returned ONCE.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePatRequest'
      responses:
        '201':
          description: PAT created. `token` is returned once and never again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePatResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /pat/{id}:
    delete:
      tags: [PAT]
      operationId: revokePat
      summary: Revoke a Personal Access Token.
      parameters:
        - $ref: '#/components/parameters/PatId'
      responses:
        '204':
          description: PAT revoked.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent:
    get:
      tags: [Agent]
      operationId: getAgent
      summary: Get the current user's Hermes agent, if provisioned.
      responses:
        '200':
          description: The user's agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Agent]
      operationId: provisionAgent
      summary: Provision the current user's Hermes agent (one per account; requires an active subscription).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionAgentRequest'
      responses:
        '201':
          description: Agent provisioned (deployment is asynchronous; status starts as `pending_deploy`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Agent]
      operationId: deprovisionAgent
      summary: Deprovision the current user's Hermes agent and revoke its access token.
      responses:
        '204':
          description: Agent deprovisioned.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent/usage:
    get:
      tags: [Agent]
      operationId: getAgentUsage
      summary: Credits spent and jobs created by the current user's agent.
      responses:
        '200':
          description: Aggregated agent usage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentUsage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent/chat:
    post:
      tags: [Agent]
      operationId: sendAgentChatMessage
      summary: Relay a chat message to the user's deployed Hermes agent and return its reply.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentChatRequest'
      responses:
        '200':
          description: Agent reply.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentChatResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '502':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent/messages:
    post:
      tags: [Agent]
      operationId: submitAgentMessage
      summary: Submit a chat message to the user's Hermes agent asynchronously.
      description: |
        The async counterpart to `POST /agent/chat`: the message is persisted
        to the transcript immediately (role `user`, status `complete`)
        together with a pending agent reply row, and `202` returns both ids.
        A background worker relays the message to the agent pod with a
        generous timeout (long agent turns no longer time out at the HTTP
        boundary) and completes or fails the pending row; poll
        `GET /agent/messages` to observe it.

        One turn is in flight per user at a time — the agent pod holds a
        single conversation. Submitting while a reply is still pending
        returns `409` carrying the pending agent message id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitAgentMessageRequest'
      responses:
        '202':
          description: Message accepted; the agent reply is being produced asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitAgentMessageAccepted'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          description: A previous turn is still pending; wait for it to complete or fail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessageConflict'
        default:
          $ref: '#/components/responses/ProblemResponse'
    get:
      tags: [Agent]
      operationId: listAgentMessages
      summary: Chronological agent chat transcript for the current user.
      description: |
        Returns transcript rows (both roles) in chronological order, oldest
        first. A pending agent row means the reply is still being produced —
        render it as "thinking…" and poll with `since` set to the newest
        `created_at` already seen, re-fetching pending rows until their
        status turns `complete` or `failed`.
      parameters:
        - name: since
          in: query
          required: false
          description: Return only messages created strictly after this timestamp.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: false
          description: Maximum messages to return.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: Transcript messages, oldest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessageList'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent/steps:
    get:
      tags: [Agent]
      operationId: listAgentSteps
      summary: Live terminal/tool/message steps of the agent's current session.
      description: |
        Streams the fine-grained steps of the agent's current Hermes session —
        terminal commands (with their input command and captured output), other
        tool calls, file operations, and message events — as a sanitized,
        chronologically-ordered feed for the chat's expandable step chips.

        The API proxies to the agent pod's dashboard server (cookie-authed,
        server-side) and maps its raw session events to a stable schema. Input
        and output payloads are truncated to 4KB each and secret-looking values
        (tokens, keys, passwords, bearer credentials) are masked.

        Poll with `since` set to the newest `at` already seen while a turn is
        pending, then stop shortly after it settles. When the agent has no
        dashboard (older deployments or not yet provisioned) the endpoint
        returns `404` — clients should treat this as "no steps" and render
        nothing rather than an error.
      parameters:
        - name: since
          in: query
          required: false
          description: Return only steps whose `at` timestamp is strictly after this value.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: false
          description: Maximum steps to return (newest session's steps, oldest first).
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        '200':
          description: Sanitized steps, oldest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStepList'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent/config:
    get:
      tags: [Agent]
      operationId: getAgentConfig
      summary: List the agent's custom configuration entries. Secret values are redacted (empty string) in the response.
      responses:
        '200':
          description: The agent's configuration entries, sorted by key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConfig'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    put:
      tags: [Agent]
      operationId: updateAgentConfig
      summary: Upsert custom configuration entries (e.g. TELEGRAM_BOT_TOKEN) injected into the agent pod's environment. A running agent is flipped back to `pending_deploy` so the deploy pipeline applies the change (typically within ~5 minutes).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentConfigRequest'
      responses:
        '200':
          description: The agent's configuration after the update (secret values redacted).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConfig'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent/config/{key}:
    delete:
      tags: [Agent]
      operationId: deleteAgentConfigEntry
      summary: Remove a custom configuration entry. A running agent is flipped back to `pending_deploy` so the deploy pipeline applies the change.
      parameters:
        - $ref: '#/components/parameters/AgentConfigKey'
      responses:
        '204':
          description: Entry removed.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent/dashboard/ticket:
    post:
      tags: [Agent]
      operationId: createAgentDashboardTicket
      summary: Mint a short-lived ticket URL for embedding the agent's live dashboard.
      description: >
        Returns a URL on the public dashboard host (e.g. `dash.nolgia.ai`) that
        the web app loads in an iframe. The embedded ticket expires after 120
        seconds and is exchanged by the dashboard relay for a 12h cookie
        session bound to the requesting user and their agent. Browser (JWT)
        sessions only — PATs are rejected.
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Dashboard ticket minted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDashboardTicket'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent/abilities:
    get:
      tags: [Abilities]
      operationId: listAgentAbilities
      summary: List the abilities installed for the current user's agent.
      responses:
        '200':
          description: Installed abilities, newest install first.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentInstalledAbility'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /agent/abilities/{slug}:
    post:
      tags: [Abilities]
      operationId: installAgentAbility
      summary: Install a published ability for the current user's agent (applied on the next ability sync). Requires the ability's entitlement (`min_tier`).
      parameters:
        - $ref: '#/components/parameters/AbilitySlug'
      responses:
        '201':
          description: Ability installed for the agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentInstalledAbility'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Abilities]
      operationId: uninstallAgentAbility
      summary: Uninstall an ability from the current user's agent.
      parameters:
        - $ref: '#/components/parameters/AbilitySlug'
      responses:
        '204':
          description: Ability uninstalled.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /abilities:
    get:
      tags: [Abilities]
      operationId: listAbilities
      summary: List published marketplace abilities (metadata only — content is never included in listings). Customers see the public catalog; admin accounts also see private abilities.
      responses:
        '200':
          description: Published abilities.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ability'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Abilities]
      operationId: publishAbility
      summary: Publish a new ability version (admin only; upserts the ability by slug, versions are immutable).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishAbilityRequest'
      responses:
        '201':
          description: Ability version published.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ability'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /abilities/{slug}:
    get:
      tags: [Abilities]
      operationId: getAbility
      summary: Get a published ability's detail.
      parameters:
        - $ref: '#/components/parameters/AbilitySlug'
      responses:
        '200':
          description: The ability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ability'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Abilities]
      operationId: updateAbility
      summary: Update an ability's marketplace lifecycle (admin only). Currently the only mutable field is `visibility` — flipping it to `private` "holds" the ability (removed from the public catalog and no longer newly installable), flipping back to `public` unholds it. Existing installs keep working regardless. Ability content is immutable; editing publishes a new version via `POST /abilities/{slug}/versions`.
      parameters:
        - $ref: '#/components/parameters/AbilitySlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAbilityRequest'
      responses:
        '200':
          description: The updated ability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ability'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Abilities]
      operationId: deleteAbility
      summary: Yank an entire ability and all its versions (admin only). Refused with 409 when any agent has it installed, unless `force=true` is passed (which cascade-uninstalls it from every agent). Prefer holding (PATCH visibility=private) over deleting when agents depend on it.
      parameters:
        - $ref: '#/components/parameters/AbilitySlug'
        - name: force
          in: query
          required: false
          description: When true, delete even if agents have the ability installed, cascade-removing it from every agent. Without it, a delete of an installed ability is refused with 409.
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Ability deleted.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /abilities/{slug}/content:
    get:
      tags: [Abilities]
      operationId: getAbilityContent
      summary: Download the latest published version's package content (base64 tar.gz). Entitlement-gated — the caller's subscription must satisfy the ability's `min_tier`.
      parameters:
        - $ref: '#/components/parameters/AbilitySlug'
      responses:
        '200':
          description: Latest version content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbilityContent'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /abilities/{slug}/files:
    get:
      tags: [Abilities]
      operationId: getAbilityFiles
      summary: Inspect the unpacked contents of the latest published version (admin only). Server-side unpacks the package tar.gz and returns each file's path, size, and (for text files) its decoded body. Not a customer feature — this is the admin abilities inspector.
      parameters:
        - $ref: '#/components/parameters/AbilitySlug'
      responses:
        '200':
          description: Unpacked ability files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbilityFiles'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /abilities/{slug}/versions:
    post:
      tags: [Abilities]
      operationId: publishAbilityVersionFromFiles
      summary: Publish a new immutable version from an edited file set (admin only). Repacks the given files into a tar.gz, recomputes `has_code`, inserts a new immutable version and moves `latest`. This is the save path for the admin code editor — versions are immutable, so an edit is a new version. Ability metadata (name, visibility, access, min_tier) is preserved from the current ability; only the package payload and version change.
      parameters:
        - $ref: '#/components/parameters/AbilitySlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishAbilityVersionRequest'
      responses:
        '201':
          description: New version published.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ability'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /abilities/{slug}/versions/{version}:
    delete:
      tags: [Abilities]
      operationId: deleteAbilityVersion
      summary: Delete a single non-latest version of an ability (admin only). Deleting the latest version is refused with 409 — it would silently change what installed agents receive; publish a new version or delete the whole ability instead. Deleting the only version is likewise refused.
      parameters:
        - $ref: '#/components/parameters/AbilitySlug'
        - name: version
          in: path
          required: true
          description: Semver version to delete.
          schema:
            type: string
            pattern: '^[0-9]+\.[0-9]+\.[0-9]+$'
            examples: ['1.0.0']
      responses:
        '204':
          description: Version deleted.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /internal/agents:
    get:
      tags: [Agent]
      operationId: listAgentsInternal
      summary: List agents, optionally filtered by status. Deploy-pipeline only.
      security:
        - provisionerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AgentStatus'
      responses:
        '200':
          description: Agents matching the filter.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /internal/agents/{id}/credentials:
    post:
      tags: [Agent]
      operationId: issueAgentCredentials
      summary: Mint (or rotate) an agent's NOLGIA_TOKEN. Deploy-pipeline only; plaintext is returned ONCE.
      security:
        - provisionerAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '201':
          description: Agent token minted. Any previous agent token is revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCredentials'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /internal/agents/{id}/deployment:
    put:
      tags: [Agent]
      operationId: updateAgentDeployment
      summary: Report deployment state (status, chat endpoint) for an agent. Deploy-pipeline only.
      security:
        - provisionerAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentDeploymentRequest'
      responses:
        '200':
          description: Updated agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /internal/agents/{id}/config:
    get:
      tags: [Agent]
      operationId: getAgentConfigInternal
      summary: Full (plaintext) custom configuration for an agent, for injection into the pod's Secret. Deploy-pipeline only.
      security:
        - provisionerAuth: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: The agent's configuration entries with plaintext values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConfig'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth.js v5 JWT issued by nolgia.ai for browser sessions.
    patAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
      description: Personal Access Token (prefix `nol_`) for CLI and MCP clients.
    provisionerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Static shared secret (`AGENT_PROVISIONER_TOKEN`) for the internal agent deploy pipeline.

  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum items to return.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque pagination cursor returned by a prior response.
      schema:
        type: string
        minLength: 1
        maxLength: 256
    JobId:
      name: id
      in: path
      required: true
      description: Job UUID.
      schema:
        type: string
        format: uuid
    PatId:
      name: id
      in: path
      required: true
      description: PAT UUID.
      schema:
        type: string
        format: uuid
    AgentId:
      name: id
      in: path
      required: true
      description: Agent UUID.
      schema:
        type: string
        format: uuid
    AgentConfigKey:
      name: key
      in: path
      required: true
      description: Configuration entry key (environment-variable style).
      schema:
        type: string
        pattern: '^[A-Z][A-Z0-9_]{0,63}$'
        examples: ['TELEGRAM_BOT_TOKEN']

    AbilitySlug:
      name: slug
      in: path
      required: true
      description: Ability slug (lowercase letters, digits, hyphens).
      schema:
        type: string
        pattern: '^[a-z0-9][a-z0-9-]{0,63}$'
        examples: ['short-film']

  responses:
    ProblemResponse:
      description: Error formatted per RFC 7807.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:

    HealthStatus:
      type: object
      additionalProperties: false
      required: [status, version]
      properties:
        status:
          type: string
          enum: [ok, degraded]
          examples: [ok]
        version:
          type: string
          description: Build version (semver or git sha).
          examples: ['0.1.0']
        uptime_seconds:
          type: integer
          minimum: 0
          examples: [1234]

    SSETicket:
      type: object
      additionalProperties: false
      required: [ticket, expires_at]
      description: Single-use credential authorizing one job status stream connection.
      properties:
        ticket:
          type: string
          description: Opaque single-use secret to pass as the `ticket` query parameter.
          examples: ['9f8c2a1e6b4d7f0a3c5e8b1d4f7a0c3e6b9d2f5a8c1e4b7d0f3a6c9e2b5d8f1a']
        expires_at:
          type: string
          format: date-time
          description: Instant after which the ticket can no longer be redeemed.

    Error:
      type: object
      additionalProperties: false
      required: [type, title, status]
      description: RFC 7807 problem object.
      properties:
        type:
          type: string
          format: uri
          description: A URI reference identifying the problem type.
          examples: ['https://nolgia.ai/errors/invalid-request']
        title:
          type: string
          examples: ['Invalid request']
        status:
          type: integer
          minimum: 400
          maximum: 599
          examples: [422]
        detail:
          type: string
          examples: ['`prompt` must be at least 1 character.']
        instance:
          type: string
          format: uri
          examples: ['https://api.nolgia.ai/v1/generate/image']
        request_id:
          type: string
          examples: ['req_01J5R2M9YBX2K4Z3WQH6P8VNA1']

    User:
      type: object
      additionalProperties: false
      required: [id, email, created_at]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
          examples: ['ada@nolgia.ai']
        name:
          type: string
          nullable: true
          examples: ['Ada Lovelace']
        image_url:
          type: string
          nullable: true
          format: uri
        created_at:
          type: string
          format: date-time

    Modality:
      type: string
      enum: [image, audio, video]

    ModelList:
      type: object
      additionalProperties: false
      required: [models]
      properties:
        models:
          type: array
          items:
            $ref: '#/components/schemas/Model'

    Model:
      type: object
      additionalProperties: false
      required: [id, modality, recommended]
      properties:
        id:
          type: string
          examples: ['veo-3.1']
        modality:
          $ref: '#/components/schemas/Modality'
        recommended:
          type: boolean
          description: Whether this model is surfaced as a priority/recommended option.
        cost:
          $ref: '#/components/schemas/ModelCost'
        video:
          $ref: '#/components/schemas/VideoCapabilities'
        audio:
          $ref: '#/components/schemas/AudioCapabilities'

    ModelCost:
      type: object
      additionalProperties: false
      description: |
        Credit pricing for a model. Absent when pricing has not been published
        for the model; clients must render an unknown/pending state instead of
        inventing a rate.
      required: [credits, unit]
      properties:
        credits:
          type: integer
          minimum: 1
          description: Credits charged per unit.
          examples: [42]
        unit:
          $ref: '#/components/schemas/ModelCostUnit'
        baseline_seconds:
          type: integer
          nullable: true
          minimum: 1
          description: |
            Present only when unit is per_clip. The clip duration in seconds that
            `credits` assumes. The actual charge scales with the requested duration
            as ceil(credits * duration_seconds / baseline_seconds).
          examples: [5]

    ModelCostUnit:
      type: string
      description: |
        Billing dimension for a model's credit cost. per_image multiplies by the
        requested image count, per_clip scales with video duration against
        baseline_seconds, per_generation is a flat charge per request.
      enum: [per_image, per_clip, per_generation]

    VideoCapabilities:
      type: object
      additionalProperties: false
      description: Per-model duration and aspect-ratio support for video models.
      properties:
        durations:
          type: array
          description: Discrete set of supported durations in seconds, when the model only allows specific values.
          items:
            type: integer
          examples: [[4, 6, 8]]
        min_duration:
          type: integer
          nullable: true
          description: Minimum supported duration in seconds, when durations form a continuous range.
        max_duration:
          type: integer
          nullable: true
          description: Maximum supported duration in seconds, when durations form a continuous range.
        aspect_ratios:
          type: array
          items:
            $ref: '#/components/schemas/AspectRatio'
        image_input:
          type: boolean
          description: |
            Whether the model accepts an `image_url`. Dedicated image-to-video
            variants require one; models like Veo and Omni Flash take one
            optionally alongside the text prompt.

    AudioCapabilities:
      type: object
      additionalProperties: false
      description: Per-model voice catalog for audio (text-to-speech) models.
      properties:
        voices:
          type: array
          description: Selectable voice identifiers for this model. Absent when the model has no enumerable voice catalog.
          items:
            $ref: '#/components/schemas/Voice'

    Voice:
      type: object
      additionalProperties: false
      required: [id]
      properties:
        id:
          type: string
          examples: ['af_bella']
        label:
          type: string
          nullable: true
          description: Human-friendly display name for the voice.
          examples: ['Bella (American female)']

    UploadAssetRequest:
      type: object
      additionalProperties: false
      required: [content_type, data]
      properties:
        content_type:
          type: string
          enum: [image/png, image/jpeg, image/webp]
          description: MIME type of the uploaded bytes.
        data:
          type: string
          format: byte
          minLength: 1
          maxLength: 14000000
          description: Base64-encoded file contents (max ~10MB decoded).
        filename:
          type: string
          nullable: true
          maxLength: 255

    CreateAssetUploadRequest:
      type: object
      additionalProperties: false
      required: [filename, content_type, size_bytes]
      properties:
        filename:
          type: string
          minLength: 1
          maxLength: 255
          description: Original filename, kept as asset metadata.
          examples: ['final-cut.mp4']
        content_type:
          type: string
          enum:
            - video/mp4
            - video/quicktime
            - video/webm
            - audio/mpeg
            - audio/wav
            - audio/ogg
            - image/png
            - image/jpeg
            - image/webp
          description: >
            MIME type of the file. The signed PUT URL is bound to it, so the
            upload request must send exactly this Content-Type header.
        size_bytes:
          type: integer
          format: int64
          minimum: 1
          description: >
            Exact size of the file in bytes. Verified against the uploaded
            object on completion. Limits: 50 GiB for video, 5 GiB for
            audio, 100 MiB for images.
        tags:
          type: array
          maxItems: 10
          description: Tags to apply to the asset; trimmed, lowercased, and de-duplicated.
          items:
            type: string
            minLength: 1
            maxLength: 40
          examples: [['final-cut', 'campaign-x']]
        display_name:
          type: string
          nullable: true
          maxLength: 200
          description: >
            Optional human-readable display name stored on the pre-created
            asset (trimmed). Defaults to empty.
          examples: ['Hero shot v2']

    AssetUpload:
      type: object
      additionalProperties: false
      required: [upload_id, asset_id, upload_url, expires_at]
      properties:
        upload_id:
          type: string
          format: uuid
          description: Identifier for `POST /assets/uploads/{id}/complete`.
        asset_id:
          type: string
          format: uuid
          description: The pre-created asset (status `uploading`) the bytes will belong to.
        upload_url:
          type: string
          format: uri
          description: >
            Signed PUT URL. Upload with `PUT <upload_url>` and a
            `Content-Type` header exactly matching the declared
            `content_type`; no Authorization header is needed.
        expires_at:
          type: string
          format: date-time
          description: Expiry of `upload_url` (30 minutes after creation).

    AssetStatus:
      type: string
      enum: [uploading, ready]
      description: >
        Lifecycle status of an asset. `uploading` marks a signed-upload
        asset whose bytes have not been verified yet; `ready` assets are
        fully stored and downloadable.

    ImageModel:
      type: string
      description: Image model identifier exposed by the public API.
      enum:
        - gpt-image-2
        - gpt-image-1
        - imagen-4
        - flux/schnell
        - flux-ultra
        - flux-pro
        - recraft-v3
        - ideogram-v3
        - stable-diffusion-3.5

    AudioModel:
      type: string
      description: Audio model identifier (TTS, music, or SFX).
      enum:
        - fal-ai/kokoro/american-english
        - fal-ai/dia-tts
        - fal-ai/inworld-tts
        - fal-ai/orpheus-tts
        - fal-ai/minimax/speech-2.8-hd
        - fal-ai/minimax/speech-2.8-turbo
        - fal-ai/elevenlabs/tts/eleven-v3
        - fal-ai/elevenlabs/tts/multilingual-v2
        - fal-ai/elevenlabs/tts/turbo-v2.5
        - fal-ai/elevenlabs/music
        - fal-ai/elevenlabs/sound-effects/v2
        - fal-ai/minimax-music/v2.6
        - fal-ai/lyria3/pro
        - fal-ai/stable-audio-25/text-to-audio
        - fal-ai/stable-audio-3/medium/text-to-audio
        - fal-ai/mmaudio-v2/text-to-audio

    VideoModel:
      type: string
      description: |
        Video model identifier. Priority models for v1 are Kling v3.0 and Seedance 2.0 Pro.
        Default is `fal-ai/kling-video/v3/text-to-video`.
      enum:
        - fal-ai/kling-video/v3/text-to-video
        - fal-ai/kling-video/v3/master/text-to-video
        - fal-ai/kling-video/v3/pro/text-to-video
        - fal-ai/kling-video/v3/image-to-video
        - fal-ai/kling-video/v3/master/image-to-video
        - fal-ai/kling-video/v3/pro/image-to-video
        - fal-ai/bytedance/seedance/v2/pro/text-to-video
        - fal-ai/bytedance/seedance/v2/pro/image-to-video
        - veo-3.1
        - veo-3.1-fast
        - omni-flash

    ImageSize:
      type: string
      enum: [square, square_hd, portrait_4_3, portrait_16_9, landscape_4_3, landscape_16_9]

    AspectRatio:
      type: string
      enum: ['16:9', '9:16', '1:1', '4:3', '3:4']

    GenerateImageRequest:
      type: object
      additionalProperties: false
      required: [model, prompt]
      properties:
        model:
          $ref: '#/components/schemas/ImageModel'
        prompt:
          type: string
          minLength: 1
          maxLength: 4000
          examples: ['A neon cyberpunk cat DJing on a rooftop, cinematic']
        negative_prompt:
          type: string
          nullable: true
          maxLength: 4000
        image_size:
          $ref: '#/components/schemas/ImageSize'
        num_images:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
        seed:
          type: integer
          nullable: true
          minimum: 0
        guidance_scale:
          type: number
          nullable: true
          minimum: 0
          maximum: 20
        image_url:
          type: string
          format: uri
          nullable: true
          maxLength: 2048
          description: Source image (https URL) for image-to-image restyle. When set, the model transforms this image instead of generating from scratch.
        tags:
          type: array
          maxItems: 10
          description: Applied to the resulting asset(s); normalized to lowercase.
          items:
            type: string
            minLength: 1
            maxLength: 40
          examples: [['hero', 'draft']]

    GenerateImageResponse:
      type: object
      additionalProperties: false
      required: [request_id, asset, assets]
      properties:
        request_id:
          type: string
          examples: ['req_01J5R2M9YBX2K4Z3WQH6P8VNA1']
        asset:
          $ref: '#/components/schemas/Asset'
        assets:
          type: array
          description: All generated images. Length matches num_images. The first entry equals asset.
          items:
            $ref: '#/components/schemas/Asset'
        seed:
          type: integer
          nullable: true
    AudioFormat:
      type: string
      enum: [mp3, wav, ogg, flac]

[...]
