openapi: 3.0.3
info:
  title: Nolgia API
  version: 0.1.0
  summary: Generative media platform (image, audio, video) — single contract for web, CLI, and MCP clients.
  description: |
    Nolgia API is the single backend serving the Nolgia website, Rust CLI, and MCP server.
    It orchestrates three generation paths:
      * **image** — synchronous (5–15s typical)
      * **audio** — long-poll synchronous (up to 900s)
      * **video** — asynchronous via job orchestrator
    All non-public endpoints require either an Auth.js bearer JWT (web) or a Personal Access Token (CLI/MCP).
  contact:
    name: Nolgia Engineering
    url: https://nolgia.ai
  license:
    name: Proprietary
    url: https://nolgia.ai/terms

servers:
  - url: https://api.nolgia.ai/v1
    description: Production
  - url: https://api.stg.nolgia.ai/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: Auth
    description: Sign-in flows for CLI/MCP (device code) and current-user info.
  - name: Generate
    description: Image, audio, and video generation endpoints.
  - name: Models
    description: Model catalog and per-model capabilities.
  - name: Jobs
    description: Async job lifecycle (used primarily for video).
  - name: Assets
    description: Generated media stored in GCS with signed URLs.
  - name: Characters
    description: User-owned reusable subjects (name, description, reference images) for generation.
  - name: Projects
    description: User-owned groupings of assets; an asset can belong to multiple projects.
  - name: Collections
    description: |
      User-named Library collections: lightweight, user-curated groupings of
      assets for the Library navigator. Many-to-many — an asset can live in
      any number of collections — and membership is the only thing a
      collection owns: deleting a collection never deletes its assets.
      Collection names are unique per user (conflicts answer 409). Unlike
      projects, collections carry no compositions, agent context, or
      default-filing semantics.
  - name: Compositions
    description: |
      HyperFrames-style HTML video compositions: a bundle of files
      (index.html + compositions/*.html + assets/* + meta.json) authored by a
      user's Hermes agent and rendered by the web UI as a scrubbable timeline.
      The API stores the files in GCS and serves them back via short-lived
      signed URLs; it never renders or executes composition content.

      Version series convention: compositions that are versions of the same
      work share a `meta.series` string and carry an integer `meta.version`.
      These are ordinary meta keys — the API stores them verbatim and never
      assigns or increments them; clients own the numbering. Create a new
      version with `POST /compositions/{id}/clone` (typically bumping
      `meta.version` via `meta_patch`) and list a series with
      `GET /compositions?series=...`.
  - name: Activity
    description: |
      Read-only chronological feed of platform events (generations, assets,
      compositions, renders), assembled at read time from the underlying
      resources — nothing extra is stored to serve it.
  - name: Billing
    description: Subscription state and Stripe Customer Portal.
  - name: PAT
    description: Personal Access Token issuance and revocation.
  - name: Organizations
    description: |
      Team and enterprise organizations: memberships and roles, invites,
      verified email domains, the audit trail and organization-scoped API
      keys. A user works either in their personal space or inside ONE active
      organization (`PUT /me/active-organization`); the context is server
      state and is resolved at authentication time, so every credential the
      user holds follows it.
  - name: Agent
    description: Per-customer Hermes agent provisioning, usage, and chat relay.
  - name: Abilities
    description: Marketplace of admin-published ability packages that customer Hermes agents install and run.
  - name: Presets
    description: |
      Customer-facing, outcome-named workflow wrappers ("UGC ad", "Short film")
      that power the /presets page. Metadata only — no package content: a
      preset either deep-links into a creation endpoint (`create_image` /
      `create_video` / `create_audio` targets with `{prompt, model}` params) or
      hands off to the Studio agent lane (`studio_intent` with `{intent}`).
      A preset may reference the marketplace ability powering it via
      `ability_slug`. Admin-managed and mutable by slug (no versions);
      visibility-gated like abilities.
  - name: ColorPresets
    description: |
      Built-in color-grade presets ("LUT looks") for studio compositions.
      The catalog is embedded in the service (no database) and identical for
      every caller. Grades attach to compositions as `data-color-grade`
      attributes — per timed element, and on the canvas element for the whole
      frame — and as `colorGrade` fields in the `nolgia-edits.json` overlay;
      the render job bakes them into the exported MP4.
  - name: Masks
    description: |
      Per-clip timeline masks (Adobe Premiere's Opacity masks): a `rectangle`,
      `ellipse`, or `polygon` shape with `feather`, `expansion`, `opacity`, and
      `inverted` controls that hides part of one visual clip so the layers
      beneath show through. Masks attach to compositions as `data-mask`
      attributes on timed elements and as `mask` fields in the
      `nolgia-edits.json` overlay (`elements.<key>.mask`, `additions[].mask`,
      object-level replacement — `{}` clears); the Studio preview applies
      them live and the render job bakes them into the exported MP4. The
      sanitizer (`POST /masks:validate`) is public and stateless: it reports
      exactly what the renderer will draw.
  - name: Admin
    description: >
      Internal admin-only debugging surfaces. Invisible to non-admin callers
      (reads return 404), and every successful read is audit-logged with the
      calling admin's email.
  - name: Health
    description: Service health probes.

security:
  - bearerAuth: []
  - patAuth: []

paths:

  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: Service is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '429':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /models:
    get:
      tags: [Models]
      operationId: listModels
      summary: List available models and their capabilities.
      responses:
        '200':
          description: Model catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /providers/status:
    get:
      tags: [Models]
      operationId: listProviderStatus
      summary: List generation provider availability.
      description: >-
        Reports each video generation provider's current availability as seen
        by the platform's hard-down detector: "degraded" while ~all recent
        submissions to the provider are failing server-side (jobs targeting
        it are parked and resume automatically on recovery), otherwise
        "operational". Clients use this to explain a "provider_down" job
        status instead of showing a generic failure.
      responses:
        '200':
          description: Provider availability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderStatusList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /me:
    get:
      tags: [Auth]
      operationId: getCurrentUser
      summary: Get the currently authenticated user.
      responses:
        '200':
          description: Current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /me/settings:
    get:
      tags: [Auth]
      operationId: getUserSettings
      summary: Get the current user's notification settings.
      responses:
        '200':
          description: Notification settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    put:
      tags: [Auth]
      operationId: putUserSettings
      summary: Update the current user's notification settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettingsRequest'
      responses:
        '200':
          description: Updated notification settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /me/active-organization:
    put:
      tags: [Organizations]
      operationId: putActiveOrganization
      summary: Switch the current user between their personal space and one of their organizations.
      description: >
        Sets `users.active_organization_id`. This is SERVER state, so the web
        app, CLI, MCP and the user's agent credentials all follow it on their
        next request. `organization_id: null` returns to the personal space.
        The user must be a member of the organization (`404` otherwise).
        Answers the refreshed `User`, including `active_organization`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveOrganizationRequest'
      responses:
        '200':
          description: Updated current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations:
    get:
      tags: [Organizations]
      operationId: listOrganizations
      summary: List the organizations the current user belongs to, with their role in each.
      responses:
        '200':
          description: Memberships, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: createOrganization
      summary: Create a team organization owned by the current user.
      description: >
        Creates a `kind: team` organization with the caller as `owner`, makes it
        the caller's active organization and creates its default Library
        project. `slug` is derived from `name` when omitted. A taken slug
        answers `409`. Team billing (seats, Stripe) is attached afterwards
        through the web app; until then the organization has no subscription
        and is quota'd like a free account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '201':
          description: Organization created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: getOrganization
      summary: Get one organization the current user belongs to.
      responses:
        '200':
          description: The organization and the caller's role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Organizations]
      operationId: updateOrganization
      summary: Update an organization's name or settings (owner or admin).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
      responses:
        '200':
          description: Updated organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Organizations]
      operationId: deleteOrganization
      summary: Soft-delete an organization (owner only).
      description: >
        Marks the organization deleted and returns every member to their
        personal space. Library rows keep their `organization_id` for the
        retention window; nothing is hard-deleted here.
      responses:
        '204':
          description: Organization deleted.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/members:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationMembers
      summary: List an organization's members (any member may read).
      responses:
        '200':
          description: Members, owner first then by join time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/members/{user_id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationMemberUserId'
    patch:
      tags: [Organizations]
      operationId: updateOrganizationMember
      summary: Change a member's role or monthly credit budget (owner or admin).
      description: >
        `role` cannot be set to `owner` here (use transfer-ownership) and the
        current owner cannot be demoted. `monthly_credit_budget: null` removes
        the cap; omitting it leaves it unchanged. Promoting a viewer to a
        seat-consuming role is checked against `seat_limit` (`409`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationMemberRequest'
      responses:
        '200':
          description: Updated member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Organizations]
      operationId: removeOrganizationMember
      summary: Remove a member (owner or admin), or leave the organization (self).
      description: >
        The owner cannot be removed and cannot leave without first transferring
        ownership (`409`). A removed member whose active organization this was
        is returned to their personal space; their organization-scoped API
        keys stop authenticating immediately.
      responses:
        '204':
          description: Member removed.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/transfer-ownership:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    post:
      tags: [Organizations]
      operationId: transferOrganizationOwnership
      summary: Transfer ownership to another member (owner only).
      description: The new owner must already be a member. The previous owner becomes `admin`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
      responses:
        '200':
          description: Organization with the new owner.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/invites:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationInvites
      summary: List pending invites (owner or admin).
      responses:
        '200':
          description: Pending invites, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInviteList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: createOrganizationInvite
      summary: Invite an email address to the organization (owner or admin).
      description: >
        Creates a 7-day invite and emails the link when mail is configured
        (best effort). The plaintext `token` and `invite_url` are ALSO returned
        once here so the UI can offer a copy link; they are never readable
        again. When `seat_limit` is set, seat-consuming members plus pending
        seat-consuming invites must stay below it (`409` with title
        `Seat limit reached`); `viewer` invites never count. One pending
        invite per address (`409`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationInviteRequest'
      responses:
        '201':
          description: Invite created; `token` is returned once and never again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationInviteResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/invites/{invite_id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationInviteId'
    delete:
      tags: [Organizations]
      operationId: revokeOrganizationInvite
      summary: Revoke a pending invite (owner or admin).
      responses:
        '204':
          description: Invite revoked.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/invites/{invite_id}/resend:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationInviteId'
    post:
      tags: [Organizations]
      operationId: resendOrganizationInvite
      summary: Rotate a pending invite's token, extend its expiry and re-send the email (owner or admin).
      responses:
        '200':
          description: Invite with a fresh `token`, returned once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationInviteResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /invites/{token}:
    parameters:
      - $ref: '#/components/parameters/InviteToken'
    get:
      tags: [Organizations]
      operationId: getInvitePreview
      summary: Public preview of an invite (no authentication).
      description: >
        Shows enough for the accept page to render before sign-in: the
        organization name, who invited, the masked invitee address, the role
        and the expiry. `status` says whether the invite can still be
        accepted. Unknown tokens answer `404`.
      security: []
      responses:
        '200':
          description: Invite preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitePreview'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /invites/{token}/accept:
    parameters:
      - $ref: '#/components/parameters/InviteToken'
    post:
      tags: [Organizations]
      operationId: acceptInvite
      summary: Accept an invite as the signed-in user.
      description: >
        The signed-in account's email must match the invited address
        (case-insensitive; `403` otherwise). Creates the membership with the
        invited role, and makes the organization active when the user has no
        active organization yet. Expired, revoked or already-accepted invites
        answer `410`.
      responses:
        '200':
          description: The new membership.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '410':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/domains:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationDomains
      summary: List the organization's claimed email domains (owner or admin).
      responses:
        '200':
          description: Domains, oldest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomainList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: addOrganizationDomain
      summary: Claim an email domain (owner or admin); returns the DNS TXT record to publish.
      description: >
        Publish a TXT record named `_nolgia.<domain>` with the value
        `nolgia-verification=<verification_token>`, then call `verify`. A
        domain already VERIFIED by another organization answers `409`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrganizationDomainRequest'
      responses:
        '201':
          description: Domain claimed (unverified).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/domains/{domain}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationDomainName'
    patch:
      tags: [Organizations]
      operationId: updateOrganizationDomain
      summary: Toggle auto-join or SSO enforcement on a domain (owner or admin).
      description: >
        `sso_enforced` requires a verified domain on an `enterprise`
        organization (`402` with title `Upgrade Required` on a team
        organization; `409` while unverified).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationDomainRequest'
      responses:
        '200':
          description: Updated domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Organizations]
      operationId: deleteOrganizationDomain
      summary: Remove a claimed domain (owner or admin).
      responses:
        '204':
          description: Domain removed.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/domains/{domain}/verify:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationDomainName'
    post:
      tags: [Organizations]
      operationId: verifyOrganizationDomain
      summary: Check DNS for the verification TXT record and mark the domain verified (owner or admin).
      description: >
        Looks up TXT `_nolgia.<domain>` for `nolgia-verification=<token>`. A
        missing or mismatched record answers `409` with the record still to
        publish; a domain verified by another organization in the meantime
        answers `409` as well.
      responses:
        '200':
          description: Domain verified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/audit-events:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationAuditEvents
      summary: List the organization's audit trail, newest first (owner or admin).
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: action
          in: query
          required: false
          description: Exact action filter (for example `member.invited`).
          schema:
            type: string
            maxLength: 64
        - name: actor
          in: query
          required: false
          description: Filter on the acting user's id.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: One page of events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAuditEventList'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/audit-events/export:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: exportOrganizationAuditEvents
      summary: Download the whole audit trail as CSV (owner or admin; enterprise plan only).
      description: >
        Streams every event, newest first, as `text/csv`. Available to
        `enterprise` organizations; a team organization answers `402` with
        title `Upgrade Required` naming the plan limit (it is not a credit
        balance and cannot be fixed by topping up).
      responses:
        '200':
          description: CSV export.
          content:
            text/csv:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/api-keys:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listOrganizationApiKeys
      summary: List the organization's API keys, no secrets (owner or admin).
      responses:
        '200':
          description: Live organization keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiKeyList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: createOrganizationApiKey
      summary: Create an organization API key (owner or admin). The plaintext token is returned ONCE.
      description: >
        A `nol_` bearer that authenticates as its creator FORCED into this
        organization, whatever their active organization is at the time. It
        carries the creator's current role and stops authenticating the moment
        the creator's membership ends. Never listed on `/pat`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationApiKeyRequest'
      responses:
        '201':
          description: Key created; `token` is returned once and never again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationApiKeyResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/api-keys/{key_id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/OrganizationApiKeyId'
    delete:
      tags: [Organizations]
      operationId: revokeOrganizationApiKey
      summary: Revoke an organization API key (owner or admin).
      responses:
        '204':
          description: Key revoked.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/credits:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: getOrganizationCredits
      summary: Get an organization's shared credit pool and per-member budgets.
      description: >
        The organization's wallets (`app_subscription`, then `shared_topup`),
        the current subscription period and seats, and every member's monthly
        credit budget with what they have spent this UTC calendar month (held
        plus consumed reservations against the organization's wallets). Owner,
        admin and billing roles see every member; member and viewer roles see
        only their own row. Non-members get `404`.
      responses:
        '200':
          description: The organization's credit pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCredits'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/usage:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: getOrganizationUsage
      summary: Roll up an organization's consumed credits by member, model or day.
      description: >
        Credits the organization actually paid for delivered work: CONSUMED
        reservations against the organization's wallets created in
        `[from, to)`, grouped by `group_by` (default `member`). Held and
        released holds are excluded. Defaults to the current UTC calendar
        month; the window may span at most 366 days. Owner, admin and
        billing roles see the whole organization; member and viewer roles
        see only their own spend. Non-members get `404`.
      parameters:
        - name: from
          in: query
          required: false
          description: Inclusive window start (RFC 3339). Defaults to the first instant of the current UTC month.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: Exclusive window end (RFC 3339). Defaults to the first instant of the next UTC month.
          schema:
            type: string
            format: date-time
        - name: group_by
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/OrganizationUsageGroupBy'
      responses:
        '200':
          description: Usage roll-up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUsage'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/storage-connections:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      tags: [Organizations]
      operationId: listStorageConnections
      summary: List the organization's bring-your-own storage connections (owner or admin; Enterprise).
      description: >
        Enterprise only: team organizations get 402 `Upgrade Required` (a plan
        limit, not a credit balance). Secrets are never returned; each
        connection shows its `access_key_id` and the last probe result.
        Answers 503 when the platform has no credential encryption key
        configured (`STORAGE_CREDENTIALS_KEY`).
      responses:
        '200':
          description: The organization's storage connections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageConnectionList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Organizations]
      operationId: createStorageConnection
      summary: Connect an S3-compatible bucket to the organization (owner or admin; Enterprise).
      description: >
        Stores the connection with the secret access key encrypted at rest
        (AES-256-GCM). The connection starts `unverified`; call
        `POST .../{connection_id}/test` to probe it. `endpoint` and
        `force_path_style` target S3-compatible providers (Cloudflare R2,
        MinIO, GCS interoperability); leave them unset for AWS S3. With
        `mirror_enabled` every asset that becomes ready in the organization
        library is copied to `<prefix>/<yyyy>/<mm>/<asset_id>.<ext>` by the
        mirror worker.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStorageConnectionRequest'
      responses:
        '201':
          description: Connection stored (status `unverified`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageConnection'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/storage-connections/{connection_id}:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/StorageConnectionId'
    patch:
      tags: [Organizations]
      operationId: updateStorageConnection
      summary: Update a storage connection (owner or admin; Enterprise).
      description: >
        Partial update. Toggling `mirror_enabled` never touches existing
        mirror rows; pending copies for a disabled connection simply stop
        being claimed. Rotating credentials requires `access_key_id` and
        `secret_access_key` together. Any change to the bucket, region,
        endpoint, prefix or credentials resets `status` to `unverified`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStorageConnectionRequest'
      responses:
        '200':
          description: Updated connection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageConnection'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Organizations]
      operationId: deleteStorageConnection
      summary: Disconnect a storage connection (owner or admin; Enterprise).
      description: >
        Removes the connection and its mirror bookkeeping rows. Objects
        already copied into the customer's bucket are left untouched.
      responses:
        '204':
          description: Connection removed.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/storage-connections/{connection_id}/test:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/StorageConnectionId'
    post:
      tags: [Organizations]
      operationId: testStorageConnection
      summary: Probe a storage connection (owner or admin; Enterprise).
      description: >
        Runs HeadBucket, then writes and deletes `<prefix>/.nolgia-probe`
        with the stored credentials. The outcome is persisted on the
        connection: `status` becomes `ok` (with `last_verified_at`) or
        `error` (with `last_error`), and the updated connection is returned
        with 200 either way.
      responses:
        '200':
          description: Probe finished; read `status` and `last_error`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageConnection'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/storage-connections/{connection_id}/import:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/StorageConnectionId'
    post:
      tags: [Organizations]
      operationId: importStorageObjects
      summary: Import objects from the connected bucket into the organization library (owner or admin; Enterprise).
      description: >
        For each key the object is streamed from the customer's bucket into
        NOLGIA storage through the signed-upload machinery (asset status
        `uploading` then `ready`), stamped with the organization, named after
        the key's basename, and classified by its content type (the same
        media types and size limits as `POST /assets/uploads`). Keys are
        processed in order, synchronously; each result reports `imported`
        with the asset or `failed` with the reason, so one bad key never
        fails the batch. The importing connection records the object as
        already mirrored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageImportRequest'
      responses:
        '200':
          description: Per-key import results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageImportResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /organizations/{id}/storage-connections/{connection_id}/backfill:
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/StorageConnectionId'
    post:
      tags: [Organizations]
      operationId: backfillStorageMirrors
      summary: Queue every ready organization asset for mirroring to this connection (owner or admin; Enterprise).
      description: >
        Enqueues a pending mirror for each ready, non-trashed asset in the
        organization library that has no mirror row for this connection yet.
        The mirror worker drains the queue in the background; progress is
        visible per asset on `GET /assets/{id}` (`mirrors`).
      responses:
        '202':
          description: Mirrors enqueued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageBackfillResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /auth/device:
    post:
      tags: [Auth]
      operationId: startDeviceAuth
      summary: Begin device-code OAuth flow (CLI/MCP).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthRequest'
      responses:
        '200':
          description: Device authorization started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /auth/device/token:
    post:
      tags: [Auth]
      operationId: pollDeviceAuth
      summary: Poll for device-code completion to exchange for an access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTokenRequest'
      responses:
        '200':
          description: Authorization granted; token returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTokenResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /auth/device/approve:
    post:
      tags: [Auth]
      operationId: approveDeviceAuth
      summary: Approve a pending device-code authorization for the signed-in user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceApproveRequest'
      responses:
        '204':
          description: Device authorization approved.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /generate/image:
    post:
      tags: [Generate]
      operationId: generateImage
      summary: Submit an image generation job (asynchronous).
      description: |
        Returns immediately with a queued job. Use `GET /jobs/{id}` or
        `GET /jobs/{id}/wait` to track completion, then `GET /assets?job_id={id}`
        to retrieve the produced asset(s).

        **Duplicate submissions are refused, not billed.** Submitting the same
        request twice within five minutes returns `409` naming the job that
        already exists, so a lost response — a closed tab, a dropped
        connection, a timed-out request — cannot turn into a second charge.
        Send a distinct `Idempotency-Key` header to declare a deliberate new
        generation of an identical prompt; repeat the same key to make your
        own retries collapse onto one job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateImageRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /generate/audio:
    post:
      tags: [Generate]
      operationId: generateAudio
      summary: Submit an audio generation job (asynchronous).
      description: |
        Returns immediately with a queued job. Use `GET /jobs/{id}` or
        `GET /jobs/{id}/wait` to track completion, then `GET /assets?job_id={id}`
        to retrieve the produced asset.

        **Duplicate submissions are refused, not billed.** Submitting the same
        request twice within five minutes returns `409` naming the job that
        already exists. Send a distinct `Idempotency-Key` header to declare a
        deliberate new generation of an identical prompt; repeat the same key
        to make your own retries collapse onto one job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAudioRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /generate/video:
    post:
      tags: [Generate]
      operationId: generateVideo
      summary: Submit a video generation job (asynchronous).
      description: |
        Returns immediately with a job. Default model is Kling v3.0 text-to-video.
        Use `GET /jobs/{id}` or `GET /jobs/{id}/wait` to retrieve the final asset.

        **Duplicate submissions are refused, not billed.** Submitting the same
        request twice within five minutes returns `409` naming the job that
        already exists, so a lost response — a closed tab, a dropped
        connection, a `wait` that timed out — cannot turn into a second
        charge. Send a distinct `Idempotency-Key` header to declare a
        deliberate new take of an identical prompt; repeat the same key to
        make your own retries collapse onto one job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateVideoRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /restore/video:
    post:
      tags: [Generate]
      operationId: restoreVideo
      summary: Submit a video restoration/upscale job (asynchronous).
      description: |
        The AI footage-restorer lane: re-renders existing footage (a video
        asset you generated or uploaded, or a URL you host) at a target
        resolution tier with de-noise, de-haze and detail recovery. Restore
        models take NO prompt — the source clip and the chosen engine are the
        whole input. Returns immediately with a job (modality `video`); use
        `GET /jobs/{id}` or `GET /jobs/{id}/wait` to retrieve the restored
        asset.

        Pick the model to match the footage: `seedvr2-restore` is the general
        AI restorer, and the `topaz-*` master upscalers expose one Topaz
        engine each (faces, CG, interlaced, generative, and so on) — see
        `RestoreVideoModel`.

        Credits scale with the source clip length at the selected quality
        tier's per-5-second rate — see the model's `quality.options` on
        `GET /models`. Restore-lane models carry `restore: true` in the
        model catalog.

        **Duplicate submissions are refused, not billed.** Same idempotency
        contract as `POST /generate/video`: an identical request within five
        minutes returns `409` naming the existing job; send a distinct
        `Idempotency-Key` header to declare a deliberate new run.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreVideoRequest'
      responses:
        '202':
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs:
    get:
      tags: [Jobs]
      operationId: listJobs
      summary: List jobs for the current user.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/JobStatus'
        - name: modality
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Modality'
        - name: agent_session_id
          in: query
          required: false
          description: >
            Return only jobs whose agent turn ran in the given chat session
            (`jobs.agent_session_id`, stamped at submit). Scoped to the
            caller's own jobs. Jobs created before this attribution shipped,
            and generations launched outside an agent turn, are not matched.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paginated list of jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}:
    get:
      tags: [Jobs]
      operationId: getJob
      summary: Get a single job.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}/wait:
    get:
      tags: [Jobs]
      operationId: waitForJob
      summary: Block until the job reaches a terminal state (or timeout).
      description: Long-poll variant; server holds the connection up to `timeout_seconds` (max 900).
      parameters:
        - $ref: '#/components/parameters/JobId'
        - name: timeout_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 900
            default: 300
      responses:
        '200':
          description: Job reached a terminal state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '408':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}/sse-ticket:
    post:
      tags: [Jobs]
      operationId: createJobSSETicket
      summary: Mint a single-use ticket for the job status stream.
      description: >
        Returns a short-lived, single-use ticket that authorizes one
        `GET /jobs/{id}/sse` connection. Required because `EventSource`
        cannot send an `Authorization` header. The ticket is consumed on
        first use and expires after 60 seconds.
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '201':
          description: Ticket issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSETicket'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /jobs/{id}/sse:
    get:
      tags: [Jobs]
      operationId: streamJobSSE
      summary: Stream job status updates over Server-Sent Events.
      description: >
        Opens a `text/event-stream` connection that emits the current job
        state immediately, then a `status` event per update and a final
        `complete` event when the job reaches a terminal state. Authorized
        by a single-use `ticket` query parameter from `POST /jobs/{id}/sse-ticket`,
        not by the bearer schemes.
      security: []
      parameters:
        - $ref: '#/components/parameters/JobId'
        - name: ticket
          in: query
          required: true
          description: Single-use ticket from `POST /jobs/{id}/sse-ticket`.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Event stream opened.
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '503':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets:
    get:
      tags: [Assets]
      operationId: listAssets
      summary: List the current user's assets.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: modality
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Modality'
        - name: job_id
          in: query
          required: false
          description: Return only assets produced by the given job.
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: Return only assets carrying the given tag.
          schema:
            type: string
            minLength: 1
            maxLength: 40
        - name: project_id
          in: query
          required: false
          description: Return only assets belonging to the given project.
          schema:
            type: string
            format: uuid
        - name: collection_id
          in: query
          required: false
          description: >
            Return only assets belonging to the given collection (owned by
            the caller). Composes with the other filters and is reflected in
            the page `total`.
          schema:
            type: string
            format: uuid
        - name: agent_session_id
          in: query
          required: false
          description: >
            Return only assets attributed to the given chat session — either
            the generating job's `agent_session_id` (causal attribution
            recorded at job creation, not a time window, so it holds for
            async video that lands long after the turn) or, for agent uploads
            with no job (NOL-207), the asset's `metadata.agent_session_id`.
            Jobs created before this attribution shipped are not matched.
            Composes with the other filters and is reflected in the page
            `total`.
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: >
            Filter by asset lifecycle status. Defaults to `ready`, hiding
            assets whose signed upload has not been completed yet.
          schema:
            $ref: '#/components/schemas/AssetStatus'
        - name: favorite
          in: query
          required: false
          description: >
            When `true`, return only favorited assets; when `false`, only
            non-favorited ones. Omit to return both. Composes with the other
            filters.
          schema:
            type: boolean
        - name: model
          in: query
          required: false
          description: >
            Return only assets generated by the given model id (exact match,
            e.g. `gpt-image-2` or `veo-3.1`). Composes with the other
            filters.
          schema:
            type: string
            minLength: 1
            maxLength: 200
        - name: search
          in: query
          required: false
          description: >
            Case-insensitive substring match against the asset's display
            name, prompt, and model id. Composes with the other filters and
            is reflected in the page `total`.
          schema:
            type: string
            minLength: 1
            maxLength: 200
        - name: sort
          in: query
          required: false
          description: >
            Result ordering; `created_at_desc` (newest first) when omitted.
            `name_asc`/`name_desc` order case-insensitively by the asset's
            effective title — display name, falling back to prompt, then to
            the model id. Cursor pagination follows the selected ordering.
          schema:
            $ref: '#/components/schemas/AssetSort'
        - name: trashed
          in: query
          required: false
          description: >
            When `true`, list the trash instead: only soft-deleted assets
            (`deleted_at` set) are returned. Omitted or `false`, trashed
            assets are excluded — the default listing is unchanged. Composes
            with the other filters and is reflected in the page `total`.
          schema:
            type: boolean
      responses:
        '200':
          description: Paginated list of assets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Assets]
      operationId: uploadAsset
      summary: Upload a source image for image-to-image or image-to-video.
      description: >
        Stores the supplied bytes and returns an asset whose signed_url can be
        passed as image_url to generation endpoints. Accepts base64 JSON up to
        ~10MB decoded, which only suits small images: for large media files
        (video/audio artifacts, hundreds of MB) use the signed-upload flow
        instead — `POST /assets/uploads` followed by a direct PUT and
        `POST /assets/uploads/{id}/complete`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
      responses:
        '201':
          description: Asset stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '413':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /asset-usage:
    get:
      tags: [Assets]
      operationId: listAssetUsage
      summary: Which of the user's timelines use each asset.
      description: >
        Scans the current documents (index.html, other HTML files, and the
        nolgia-edits overlay) of the caller's newest compositions for asset
        references and returns, per referenced asset, the compositions that
        use it. Advisory UI data is incomplete when more than 200
        compositions exist or stored documents cannot be listed or read.
      parameters:
        - name: ids
          in: query
          required: false
          description: Return usage only for these asset ids (repeat the param per id).
          style: form
          explode: true
          x-go-type-skip-optional-pointer: true
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Per-asset usage across the user's compositions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetUsage'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/{id}:
    get:
      tags: [Assets]
      operationId: getAsset
      summary: Fetch one of the current user's assets with a fresh signed URL.
      description: >
        Unlike the list endpoint, the response includes `projects`: the
        asset's project memberships (newest membership first, `[]` when the
        asset belongs to no project).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disposition
          in: query
          required: false
          description: >
            When set to `attachment`, the returned `signed_url` serves the
            asset with a `Content-Disposition: attachment` header (bound into
            the signature) so browsers download the file instead of rendering
            it inline. The download filename is derived from the asset's
            display name (with an extension inferred from its MIME type),
            falling back to the original upload filename, then to
            `<id>.<ext>`. Omit for the default inline-viewing URL.
          schema:
            type: string
            enum: [attachment]
      responses:
        '200':
          description: Asset found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Assets]
      operationId: updateAsset
      summary: Update one of the current user's assets (tags, display name, prompt, metadata, favorite).
      description: >
        Partial update: `tags` replaces the asset's full tag set (trimmed,
        lowercased, and de-duplicated server-side), `display_name` renames
        the asset, `prompt` overwrites the stored prompt (intended for
        backfilling provenance on uploaded assets), `metadata` is merged
        into the existing metadata object (patch keys overwrite, other keys
        are kept), and `favorite` sets or clears the favorite flag. At least
        one field is required; omitted fields are left unchanged.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetRequest'
      responses:
        '200':
          description: Asset updated; returned with a fresh signed URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Assets]
      operationId: deleteAsset
      summary: Move one of the current user's assets to the trash (soft delete).
      description: >
        Stamps the asset's `deleted_at`, hiding it from every default
        listing and lookup while keeping the stored bytes. List the trash
        with `GET /assets?trashed=true`, bring an asset back with
        `POST /assets/{id}/restore`, or remove it for good with
        `DELETE /assets/{id}/permanent`. Trashed assets are purged
        automatically 30 days after deletion. Deleting an already-trashed
        asset returns 404.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Asset moved to the trash.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/{id}/restore:
    post:
      tags: [Assets]
      operationId: restoreAsset
      summary: Restore a trashed asset back into the library.
      description: >
        Clears the asset's `deleted_at` stamp so it reappears in the default
        listings. Restoring an asset that is not in the trash is an
        idempotent no-op; the asset is returned either way with a fresh
        signed URL.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Asset restored; returned with a fresh signed URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/{id}/permanent:
    delete:
      tags: [Assets]
      operationId: permanentlyDeleteAsset
      summary: Permanently delete one of the current user's assets.
      description: >
        Irreversibly removes the asset row and deletes the stored bytes
        (immediately when possible, otherwise via the deferred cleanup
        queue). Works on both live and trashed assets — this is the
        "delete forever" action of the trash view.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Asset permanently deleted.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/{id}/frames:
    post:
      tags: [Assets]
      operationId: extractAssetFrame
      summary: Extract a still frame from a video asset as a new image asset.
      description: >
        Extracts a single frame from one of the current user's video assets
        with ffmpeg and stores it as a new IMAGE asset (model
        `frame-extract`, tagged `frame`, linked back to the source asset via
        its generation metadata). Omit `t_seconds` to grab the LAST frame —
        useful as the `image_url` (start frame) of a follow-up
        image-to-video generation to chain clips seamlessly. Returns 400 for
        non-video assets, 422 when no frame can be decoded at the requested
        timestamp, and 501 when ffmpeg is not available on the deployment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractAssetFrameRequest'
      responses:
        '201':
          description: Frame extracted; the new image asset with a fresh signed URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '422':
          $ref: '#/components/responses/ProblemResponse'
        '501':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/{id}/duplicate:
    post:
      tags: [Assets]
      operationId: duplicateAsset
      summary: Duplicate one of the current user's assets.
      description: |
        Creates an independent copy of the asset: a new `assets` row owned by
        the caller pointing at a **new** stored object, with the source's
        modality, model, prompt, MIME type, size, duration, tags, and
        metadata carried over. The bytes are duplicated with a server-side
        GCS object copy — they never travel through the API or the client, so
        duplicating a large video costs one storage-to-storage copy rather
        than a download plus a re-upload.

        The copy inherits the source's filing: it joins the same projects and
        the same collections the source belongs to (falling back to the
        default "Library" project when the source has no project). It is a
        genuine second copy of the bytes, so it consumes storage
        accordingly — nothing about it is a reference to the original, and
        deleting either one leaves the other intact.

        The copy's display name defaults to the source's name plus " copy"
        (truncated to fit 200 characters) unless `display_name` is provided.
        An unknown, foreign, or trashed asset returns 404; an asset whose
        upload has not been completed returns 400.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuplicateAssetRequest'
      responses:
        '201':
          description: Duplicate created; the new asset with a fresh signed URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '501':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/uploads:
    post:
      tags: [Assets]
      operationId: createAssetUpload
      summary: Start a signed upload for a large media asset.
      description: >
        Pre-creates an asset in status `uploading` and returns a short-lived
        signed PUT URL for uploading the bytes directly to storage, bypassing
        the base64 JSON limit of `POST /assets`. PUT the file to `upload_url`
        with a `Content-Type` header exactly matching the declared
        `content_type` (the signature covers it), then call
        `POST /assets/uploads/{upload_id}/complete` to verify the object and
        flip the asset to `ready`. The URL expires after 30 minutes.
        Uploading assets are hidden from `GET /assets` until completed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetUploadRequest'
      responses:
        '201':
          description: Upload slot created; PUT the bytes to `upload_url`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetUpload'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '413':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/uploads/{id}/complete:
    post:
      tags: [Assets]
      operationId: completeAssetUpload
      summary: Finish a signed upload and make the asset available.
      description: >
        Verifies that the object was uploaded to storage and that its size
        matches the declared `size_bytes`, then flips the asset to `ready`
        and applies tag-based project auto-association. Completing an upload
        whose object is missing (or whose size does not match the
        declaration) returns 409 with details. Completing an
        already-completed upload is idempotent and returns the asset with
        200.
      parameters:
        - name: id
          in: path
          required: true
          description: The `upload_id` returned by `POST /assets/uploads`.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Asset is ready; returned with a fresh signed URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/imports/google-drive:
    post:
      tags: [Assets]
      operationId: importGoogleDriveFile
      summary: Import a Google Drive file into the library.
      description: >
        Server-side import: the API reads the file's Drive metadata, streams
        its bytes into NOLGIA storage through the signed-upload machinery and
        returns the ready asset. `access_token` is a short-lived Google OAuth
        token with the `drive.file` scope, obtained by the client (Google
        Picker); it is used for this request only and never stored or
        logged. Google Docs, Sheets and Slides (`application/vnd.google-apps.*`)
        cannot be imported (400 `Unsupported Drive file`); the accepted
        media types and size limits are those of `POST /assets/uploads`.
        Plan gate: Studio plans, Team and Enterprise. Other plans get 402
        `Upgrade Required` (a plan limit, not a credit balance). Organization
        viewers get 403.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleDriveImportRequest'
      responses:
        '201':
          description: Asset imported and ready.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '413':
          $ref: '#/components/responses/ProblemResponse'
        '502':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /assets/{id}/exports/google-drive:
    post:
      tags: [Assets]
      operationId: exportAssetToGoogleDrive
      summary: Save an asset to Google Drive.
      description: >
        Streams the asset's bytes from NOLGIA storage into a new Drive file
        (resumable upload, shared drives supported). `access_token` is a
        short-lived Google OAuth token with the `drive.file` scope obtained
        by the client; it is used for this request only and never stored or
        logged. `folder_id` places the file in that folder (My Drive root
        when omitted); `name` overrides the file name (default: the asset's
        download filename). Same plan gate as the import.
      parameters:
        - name: id
          in: path
          required: true
          description: Asset UUID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleDriveExportRequest'
      responses:
        '200':
          description: File created in Drive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleDriveExportResponse'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '403':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        '409':
          $ref: '#/components/responses/ProblemResponse'
        '502':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /characters/autopilot:
    post:
      tags: [Characters]
      operationId: autopilotCharacter
      summary: Roll a new Aura character and start its portrait render.
      description: |
        Runs the Aura variety engine (8 deterministic axes with an anti-clone
        rule across consecutive rolls) to produce a canonical character
        description, and submits its photoreal portrait as an image job on
        grok-imagine-image. Returns the queued job plus the rolled description
        and axes; create the character with `POST /characters` once the
        portrait asset is ready, passing the description as
        `canonical_description` verbatim.

        Billed exactly like the equivalent `POST /generate/image` call.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutopilotCharacterRequest'
      responses:
        '202':
          description: Portrait job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutopilotCharacterResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /characters/{id}/sheets:
    post:
      tags: [Characters]
      operationId: createCharacterSheet
      summary: Generate a one-tap character sheet (split, five-view turnaround, or expression).
      description: |
        Composes the requested sheet scaffold with the character's canonical
        description and the full Aura layer on gpt-image-2, with the
        character's primary reference attached as identity conditioning. The
        character must have at least one reference image. Optional wearable
        references ride the same request and are rendered exactly as shown in
        every view - a request whose references exceed what the sheet lane can
        carry is refused (400), never silently dropped.

        Billed exactly like the equivalent gpt-image-2 `POST /generate/image`
        call.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCharacterSheetRequest'
      responses:
        '202':
          description: Sheet job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '402':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /characters:
    get:
      tags: [Characters]
      operationId: listCharacters
      summary: List the current user's characters, newest first.
      responses:
        '200':
          description: Characters owned by the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Characters]
      operationId: createCharacter
      summary: Create a reusable character from existing image assets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCharacterRequest'
      responses:
        '201':
          description: Character created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /characters/{id}:
    get:
      tags: [Characters]
      operationId: getCharacter
      summary: Fetch one of the current user's characters with fresh signed reference URLs.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Character found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Characters]
      operationId: updateCharacter
      summary: Update a character's name, description, or reference images.
      description: Partial update; only provided fields change. Providing `reference_asset_ids` replaces the full reference set.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCharacterRequest'
      responses:
        '200':
          description: Character updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Characters]
      operationId: deleteCharacter
      summary: Delete one of the current user's characters.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Character deleted.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /projects:
    get:
      tags: [Projects]
      operationId: listProjects
      summary: List the current user's projects, newest first.
      description: >
        Archived projects are excluded unless `include_archived=true`.
      parameters:
        - name: include_archived
          in: query
          schema:
            type: boolean
          description: Include archived projects in the listing.
      responses:
        '200':
          description: Projects owned by the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags: [Projects]
      operationId: createProject
      summary: Create a project to group assets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /projects/{id}:
    get:
      tags: [Projects]
      operationId: getProject
      summary: Fetch one of the current user's projects.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags: [Projects]
      operationId: updateProject
      summary: Update, favorite, archive, or unarchive a project.
      description: >
        Partial update; only provided fields change. `archived: true` archives
        the project (hiding it from the default listing), `archived: false`
        restores it.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags: [Projects]
      operationId: deleteProject
      summary: Delete one of the current user's projects. Member assets are never deleted.
      description: >
        The default "Library" project can be deleted like any other project;
        a fresh one is recreated on demand the next time an asset needs a
        default home.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Project deleted.
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /projects/{id}/assets:
    post:
      tags: [Projects]
      operationId: addProjectAssets
      summary: Add existing assets to a project (idempotent).
      description: >
        Every asset must exist and belong to the caller. Assets already in
        the project are skipped. Adding an asset to a non-default project
        also removes the asset's membership in the default "Library" project
        (Library is a catch-all, not a permanent home); adding to the
        default project itself leaves memberships untouched.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProjectAssetsRequest'
      responses:
        '204':
          description: Assets added to the project.
        '400':
          $ref: '#/components/responses/ProblemResponse'
        '401':
          $ref: '#/components/responses/ProblemResponse'
        '404':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /projects/{id}/assets/{asset_id}:
    delete:
      tags: [Projects]
      operationId: removeProjectAsset
      summary: Remove an asset from a project. The asset itself is not deleted.
      description: Removing an asset that is not in the project is a no-op.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
[...]
